@import url("http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,300,600,700");
@import url("http://fonts.googleapis.com/css?family=PT+Sans:400,700");
@import url("http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css");
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; vertical-align: baseline; }

body, html { height: 100%; }

img, fieldset, a img { border: none; }

input[type="text"], input[type="email"], input[type="tel"], textarea { -webkit-appearance: none; }

input[type="submit"], button { cursor: pointer; }
input[type="submit"]::-moz-focus-inner, button::-moz-focus-inner { padding: 0; border: 0; }

textarea { overflow: auto; }

input, button { margin: 0; padding: 0; border: 0; }

div, input, textarea, select, button, h1, h2, h3, h4, h5, h6, a, span, a:focus { outline: none; }

ul, ol { list-style-type: none; }

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) { * { -webkit-text-size-adjust: none; } }
table { border-spacing: 0; border-collapse: collapse; width: 100%; }

body { font-family: Arial, sans-serif; font-size: 12px; line-height: 1.4; background-color: #03283D; }
@media only screen and (max-width: 1255px) { body { overflow-x: hidden; } }

a { text-decoration: none; }

input[type="button"], input[type="submit"] { cursor: pointer; }

.is-overlay { display: block; width: 100%; height: 100%; }

#bg_video { position: fixed; top: 0; right: 0; bottom: 0; left: 0; overflow: hidden; z-index: -9; }
#bg_video video { position: absolute; top: 0; left: 0; min-width: 100%; min-height: 100%; width: auto; height: auto; }

i[class^="icon-"] { display: inline-block; }
i[class^="icon-"] img { width: 100%; height: 100%; }

i.icon-phone { background: url('../img/icons-s2a0909a6e2.png') 0 -294px no-repeat; width: 24px; height: 24px; }

i.icon-user { background: url('../img/icons-s2a0909a6e2.png') 0 -603px no-repeat; width: 21px; height: 21px; }

i.icon-drop { background: url('../img/icons-s2a0909a6e2.png') 0 -77px no-repeat; width: 21px; height: 11px; }

i.icon-setup { width: 62px; height: 62px; }

i.icon-virus { width: 74px; height: 73px; }

i.icon-comp { width: 76px; height: 58px; }

i.icon-tuneup { width: 63px; height: 57px; }

i.icon-protect { width: 54px; height: 62px; }

i.icon-email { width: 69px; height: 64px; }

i.icon-show { width: 22px; height: 20px; }

i.icon-close { background: url('../img/icons-s2a0909a6e2.png') 0 -134px no-repeat; width: 8px; height: 8px; }

i.icon-teamviewer { background: url('../img/icons-s2a0909a6e2.png') 0 -502px no-repeat; width: 20px; height: 24px; }

i.icon-back { background: url('../img/icons-s2a0909a6e2.png') 0 -98px no-repeat; width: 13px; height: 26px; }

.table { display: table; }

.row { display: table-row; }

.tc { display: table-cell; }

.is-menu { overflow-x: hidden; overflow-y: auto; }

.header { position: fixed; top: 0; left: 0; width: 100%; z-index: 990; padding-top: 18px; padding-bottom: 16px; -moz-transition: all 0.3s; -o-transition: all 0.3s; -webkit-transition: all 0.3s; transition: all 0.3s; }
.is-menu .header { -moz-transform: translateX(220px); -ms-transform: translateX(220px); -webkit-transform: translateX(220px); transform: translateX(220px); }
.header.is-atbottom { background: rgba(7, 49, 65, 0.7); padding-top: 0; }
.header.is-atbottom .header__contact li { padding: 20px 0 0 0; }
@media only screen and (max-width: 660px) { .header.is-atbottom .header__contact li { padding: 25px 0 0 0; } }
.header a { color: #FFF; }
.header .header__in { padding: 0 30px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; *zoom: 1; }
.header .header__in:after { content: " "; display: table; clear: both; }
@media only screen and (max-width: 767px) { .header .header__in { padding: 0 10px; } }
.header .humb { width: 30px; display: none; margin-top: 27px; cursor: pointer; float: left; margin-right: 20px; }
.header .humb > div { width: 100%; height: 2px; background-color: #FFF; }
.header .humb > div:nth-child(2) { margin: 7px 0; }
@media only screen and (max-width: 1255px) { .header .humb { display: block; } }
@media only screen and (max-width: 660px) { .header .humb { margin-top: 25px; margin-right: 10px; } }

.header__nav { float: left; }
.header__nav ul.nav__link { *zoom: 1; width: 100%; margin-left: 28px; }
.header__nav ul.nav__link:after { content: " "; display: table; clear: both; }
.header__nav ul.nav__link li { float: left; margin-right: 15px; }
@media only screen and (max-width: 1366px) { .header__nav ul.nav__link li { margin-right: 10px; } }
.header__nav ul.nav__link li a { display: block; padding: 22px 10px 0 10px; font-size: 20px; font-family: "Open Sans", Arial, sans-serif; font-weight: 300; opacity: 0.5; position: relative; transition: 0.2s; }
.header__nav ul.nav__link li a:after { content: ""; display: none; position: absolute; top: -18px; left: 50%; -moz-transform: translate(-50%, 0); -ms-transform: translate(-50%, 0); -webkit-transform: translate(-50%, 0); transform: translate(-50%, 0); width: 103%; border-bottom: 2px solid #fff; -moz-transition: top 200ms; -o-transition: top 200ms; -webkit-transition: top 200ms; transition: top 200ms; }
.is-atbottom .header__nav ul.nav__link li a:after { top: 0; }
.header__nav ul.nav__link li a:hover { opacity: 1; }
.header__nav ul.nav__link li a.is-active { opacity: 1; }
.header__nav ul.nav__link li a.is-active:after { display: block; }
@media only screen and (max-width: 1255px) { .header__nav { display: none; } }
.header__nav .nav__social { display: none; }

.mob-nav { position: fixed; top: 0; left: 0; height: 100vh; width: 220px; background: #061827; overflow-y: auto; -moz-transform: translateX(-220px); -ms-transform: translateX(-220px); -webkit-transform: translateX(-220px); transform: translateX(-220px); -moz-transition: -moz-transform 300ms; -o-transition: -o-transform 300ms; -webkit-transition: -webkit-transform 300ms; transition: transform 300ms; }
.mob-nav.is-open { -moz-transform: translateX(0); -ms-transform: translateX(0); -webkit-transform: translateX(0); transform: translateX(0); }
.mob-nav .mob-nav__in { position: relative; min-height: 100%; }
.mob-nav .mob-nav__link { padding-bottom: 70px; }
.mob-nav .mob-nav__link li a { display: block; padding: 22px 10px 22px 20px; font-size: 20px; font-family: "Open Sans", Arial, sans-serif; font-weight: 300; opacity: 0.5; position: relative; color: #fff; transition: 0.2s; }
.mob-nav .mob-nav__link li a:after { content: ""; display: none; position: absolute; top: 0; left: 0; bottom: 0; width: 2px; background: #fff; -moz-transition: top 200ms; -o-transition: top 200ms; -webkit-transition: top 200ms; transition: top 200ms; }
.is-atbottom .mob-nav .mob-nav__link li a:after { top: 0; }
.mob-nav .mob-nav__link li a:hover, .mob-nav .mob-nav__link li a.is-active { opacity: 1; background: #06202f; }
.mob-nav .mob-nav__link li a:hover:after, .mob-nav .mob-nav__link li a.is-active:after { display: block; }
.mob-nav .mob-nav__socials { position: absolute; bottom: 22px; right: 0; left: 0; text-align: center; }
.mob-nav .mob-nav__socials li { display: inline-block; vertical-align: middle; margin: 0 10px; }
.mob-nav .mob-nav__socials li a { color: rgba(255, 255, 255, 0.2); font-size: 16px; }

.header__contact { float: right; text-align: right; white-space: nowrap; }
.header__contact li { padding: 22px 0 0 0; display: inline-block; vertical-align: top; margin-right: 40px; -moz-transition: padding 300ms; -o-transition: padding 300ms; -webkit-transition: padding 300ms; transition: padding 300ms; }
.header__contact li:first-child { padding-left: 0; }
.header__contact li a { font-size: 22px; opacity: 0.5; font-family: "Open Sans", Arial, sans-serif; font-weight: 300; white-space: nowrap; }
.header__contact li a:hover { opacity: 1; transition: 0.2s; }
.header__contact li i { padding-right: 14px; position: relative; top: 2px; }
@media only screen and (max-width: 660px) { .header__contact li { padding: 26px 0 0 0; }
  .header__contact li i { padding-right: 0; } }
.header__contact .profile { margin-right: 0; }
@media only screen and (max-width: 660px) { .header__contact .profile a { font-size: 0; } }
@media only screen and (max-width: 660px) { .header__contact .call { margin-right: 5px; }
  .header__contact .call i { display: none; }
  .header__contact .call a { font-size: 16px; } }

.header__logo { float: left; margin-top: 12px; }
@media only screen and (max-width: 660px) { .header__logo { margin-top: 20px; } }

.logo { background: url('../img/icons-s2a0909a6e2.png') 0 -820px no-repeat; width: 164px; height: 40px; }
@media only screen and (max-width: 660px) { .logo { background: url('../img/icons-s2a0909a6e2.png') 0 -785px no-repeat; width: 104px; height: 25px; } }

.logo--big { background: url('../img/icons-s2a0909a6e2.png') 0 -717px no-repeat; width: 241px; height: 58px; }

.block_header { font-family: "Open Sans", Arial, sans-serif; font-weight: 300; font-size: 52px; text-align: center; letter-spacing: 1px; }
@media only screen and (max-width: 767px) { .block_header { font-size: 40px; } }

.block_header--white { color: #FFF; }

.main { width: 85%; max-width: 1200px; background-color: #FFF; margin: 0 auto; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; }
.main .block_header { color: #000; }
@media only screen and (max-width: 1024px) { .main { width: 90%; } }
@media only screen and (max-width: 600px) { .main { width: auto; border-radius: 0; } }

.footer { max-width: 645px; margin: 0 auto; margin-top: 700px; }

.footer__contacts { width: inherit; *zoom: 1; }
.footer__contacts:after { content: " "; display: table; clear: both; }
.footer__contacts a { color: rgba(251, 246, 226, 0.7); font-family: "Open Sans", Arial, sans-serif; font-weight: 300; font-size: 32px; letter-spacing: 1px; -moz-transition: color 200ms; -o-transition: color 200ms; -webkit-transition: color 200ms; transition: color 200ms; }
.footer__contacts a:hover { color: #fbf6e2; }
.footer__contacts a.is-left { float: left; }
.footer__contacts a.is-right { float: right; }
@media only screen and (max-width: 568px) { .footer__contacts { text-align: center; }
  .footer__contacts a.is-right, .footer__contacts a.is-left { display: block; float: none; margin-bottom: 10px; } }

.footer__social { color: #FFF; width: inherit; font-size: 0; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; margin-top: 30px; overflow: hidden; }
@media only screen and (max-width: 568px) { .footer__social { width: 90%; margin: 0 auto; } }
.footer__social li { display: inline-block; width: 20%; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
@media only screen and (max-width: 568px) { .footer__social li { text-align: center; } }
.footer__social li:first-child a { border-radius: 4px 0 0 4px; }
.footer__social li:last-child a { border-radius: 0 4px 4px 0; }
.footer__social li a { width: 99%; display: block; padding: 15px 0 15px 18%; background-color: rgba(255, 255, 255, 0.1); color: #FFF; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; -moz-transition: 0.2s; -o-transition: 0.2s; -webkit-transition: 0.2s; transition: 0.2s; }
.footer__social li a:hover { background-color: rgba(199, 248, 255, 0.3); }
.footer__social li:last-child { margin-right: 0; }
.footer__social .fa { font-size: 26px; vertical-align: bottom; padding-right: 16%; }
.footer__social span { font-size: 19px; opacity: 0.6; font-family: "Open Sans", Arial, sans-serif; font-weight: 300; }
@media only screen and (max-width: 568px) { .footer__social span { display: none; } }

.footer__link { margin-top: 50px; padding-bottom: 45px; }
.footer__link ul { text-align: center; }
.footer__link li { display: inline-block; text-align: center; margin: 0 20px; }
.footer__link li:last-child a { color: #748c90; }
@media only screen and (max-width: 568px) { .footer__link li:last-child { display: block; } }
@media only screen and (max-width: 568px) { .footer__link li { margin: 0 10px 20px; }
  .footer__link li:last-child { margin: 0; } }
.footer__link li span { display: inline-block; vertical-align: middle; font-size: 16px; margin-right: 4px; color: #748c90; opacity: 0.7; }
.footer__link li a { color: #FFF; display: inline-block; vertical-align: middle; letter-spacing: 1px; font-family: "Open Sans", Arial, sans-serif; font-weight: 300; font-size: 16px; opacity: 0.7; transition: 0.1s; white-space: nowrap; }
.footer__link li a:hover { opacity: 1; }
@media only screen and (max-width: 568px) { .footer__link li a { font-size: 12px; } }
.footer__link li a i { vertical-align: bottom; padding-right: 3%; }
@media only screen and (max-width: 568px) { .footer__link li a i { vertical-align: middle; } }

.out { -moz-transition: -moz-transform 0.3s; -o-transition: -o-transform 0.3s; -webkit-transition: -webkit-transform 0.3s; transition: transform 0.3s; }

.is-menu .out { -moz-transform: translate(220px, 0); -ms-transform: translate(220px, 0); -webkit-transform: translate(220px, 0); transform: translate(220px, 0); }

.l { *zoom: 1; }
.l:after { content: " "; display: table; clear: both; }
.l .l-col1 { float: left; width: 20%; }
.l .l-col2 { float: right; width: 70%; }

.greet { position: relative; height: 100%; height: 100vh; margin-bottom: -30px; }
@media only screen and (max-width: 767px) { .greet { height: auto; padding-bottom: 30px; margin-bottom: 0; } }
.greet .greet__in { text-align: center; width: 85%; max-width: 1200px; margin: 0 auto; position: absolute; left: 50%; -moz-transform: translateX(-50%); -ms-transform: translateX(-50%); -webkit-transform: translateX(-50%); transform: translateX(-50%); top: 50%; margin-top: -100px; }
@media only screen and (max-width: 1024px) { .greet .greet__in { width: 90%; left: 5%; -moz-transform: translateX(0); -ms-transform: translateX(0); -webkit-transform: translateX(0); transform: translateX(0); } }
@media only screen and (max-width: 800px) { .greet .greet__in { margin-top: 0; padding-top: 160px; position: static; max-width: 400px; } }

.greet__text { color: #FFF; }
.greet__text h1 { font-family: "Open Sans", Arial, sans-serif; font-weight: 300; font-size: 48px; }
.greet__text p { font-family: "Open Sans", Arial, sans-serif; font-weight: 300; font-size: 20px; padding-top: 10px; }

.greet__form { font-size: 0; padding-top: 40px; }
.greet__form .greet__form_item, .greet__form .dropdown input { display: inline-block; vertical-align: top; font-size: 24px; padding: 0px 15px; margin: 0 3px; height: 55px; font-family: "Open Sans", Arial, sans-serif; font-weight: 300; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; background-color: rgba(255, 255, 255, 0.3); margin: 0 3px; color: #001C33; text-align: left; }
.greet__form .greet__form_item:-moz-placeholder, .greet__form .greet__form_item::-moz-placeholder, .greet__form .dropdown input:-moz-placeholder, .greet__form .dropdown input::-moz-placeholder { color: #001C33; opacity: 1; }
.greet__form .greet__form_item::-webkit-input-placeholder, .greet__form .dropdown input::-webkit-input-placeholder { color: #001C33; }
.greet__form .greet__form_item:hover, .greet__form .dropdown input:hover { background-color: rgba(255, 255, 255, 0.6); }
.greet__form .greet__form_item:focus, .greet__form .dropdown input:focus { opacity: 1; background-color: #fff; }
.greet__form .greet__form_item.filled, .greet__form .dropdown input.filled { opacity: 1; }
@media only screen and (max-width: 1024px) { .greet__form .greet__form_item, .greet__form .dropdown input { font-size: 18px; } }
.greet__form .dropdown { padding: 0; }
.greet__form .dropdown input { color: #001C33; width: 100%; margin: 0; background: transparent; }
.greet__form .dropdown input:-moz-placeholder, .greet__form .dropdown input::-moz-placeholder { color: #001C33; opacity: 1; }
.greet__form .dropdown input::-webkit-input-placeholder { color: #001C33; }
.greet__form .dropdown input:hover { background: transparent; }
@media only screen and (max-width: 800px) { .greet__form .greet__form_item { width: 100%; margin-bottom: 14px; } }
.greet__form .js-drop { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

.dropdown { width: 26%; width: 31%; border: 0px; outline: none; -moz-appearance: none; -webkit-appearance: none; appearance: none; cursor: pointer; }
.dropdown .dropdown__arr { position: absolute; top: 50%; right: 19px; width: 21px; height: 21px; -moz-transform: translateY(-50%); -ms-transform: translateY(-50%); -webkit-transform: translateY(-50%); transform: translateY(-50%); }
.dropdown .dropdown__arr img { width: 100%; height: 100%; }
.dropdown.is-active { background: #fff; }
.dropdown.is-active:hover { background: #fff; }
.dropdown option { background-color: #FFF; opacity: 0.6; }
.dropdown option:hover { opacity: 0.8; }
@media only screen and (max-width: 1024px) { .dropdown { width: 32%; } }
@media only screen and (max-width: 840px) { .dropdown { width: 100%; display: none; } }

.greet__form_email { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; width: 22%; width: 26%; padding: 20px 15px; }
@media only screen and (max-width: 1024px) { .greet__form_email { width: 32%; } }

.greet__form_name { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; width: 16%; width: 20%; padding: 20px 15px; }
@media only screen and (max-width: 1024px) { .greet__form_name { width: 22%; } }

.greet__submit { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; width: 8%; width: 10%; padding: 0px 15px; height: 55px; margin: 0 3px; opacity: 1; background-color: #F7B30E; color: #fff; border-radius: 3px; -webkit-appearance: none; appearance: none; font-family: "Open Sans", Arial, sans-serif; font-weight: 300; font-size: 24px; -moz-transition: background 200ms; -o-transition: background 200ms; -webkit-transition: background 200ms; transition: background 200ms; }
.greet__submit:hover { background: #ffca4a; }
@media only screen and (max-width: 1024px) { .greet__submit { width: 11%; } }
@media only screen and (max-width: 840px) { .greet__submit { display: block; width: 100%; padding: 0; } }

.dropdown { position: relative; }

.dropdown__menu { position: absolute; background: #B4C0C6; left: 0; border-radius: 3px; right: 0; top: 60px; display: none; }
.is-active .dropdown__menu { display: block; }
.dropdown__menu li { padding: 6px 15px; font-size: 20px; color: #001C33; }
.dropdown__menu li:hover { background: #92A4AA; }

.about { width: 100%; padding-bottom: 155px; }
.about .block_header { padding: 88px 0 66px; }
@media only screen and (max-width: 700px) { .about { padding-bottom: 50px; }
  .about .block_header { padding: 48px 0; } }

.about__content { margin-left: 9%; position: relative; *zoom: 1; }
.about__content:after { content: " "; display: table; clear: both; }
.about__content p { padding-bottom: 40px; font-family: "Open Sans", Arial, sans-serif; font-weight: 300; font-size: 19px; line-height: 1.57em; position: relative; z-index: 2; }
.about__content p:last-child { padding-bottom: 0; }
@media only screen and (max-width: 768px) { .about__content p { font-size: 18px; } }
.about__content > img { width: 52%; float: right; margin-left: 1%; }
@media only screen and (max-width: 600px) { .about__content > img { width: 100%; margin-left: 0; float: none; } }
@media only screen and (max-width: 600px) { .about__content { margin: 0 20px; } }

.services { background-color: #faf1dc; }
.services .block_header { padding-top: 99px; }

.services__content { margin: 0 auto; padding: 63px 0 133px; width: 75%; *zoom: 1; }
.services__content:after { content: " "; display: table; clear: both; }
@media only screen and (max-width: 1024px) { .services__content { width: 85%; } }

.services__item { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; padding: 5% 5% 5% 7%; border-radius: 4px; width: 50%; vertical-align: top; cursor: pointer; background: transparent; border: 1px solid transparent; -moz-transition: opacity 200ms, border-color 200ms, background 200ms; -o-transition: opacity 200ms, border-color 200ms, background 200ms; -webkit-transition: opacity 200ms, border-color 200ms, background 200ms; transition: opacity 200ms, border-color 200ms, background 200ms; }
.services__item:hover { background: #FCF5E4; border-color: rgba(0, 0, 0, 0.6); opacity: 0.6; }
@media only screen and (max-width: 1024px) { .services__item { border: none; }
  .services__item:hover { background: transparent; border-color: transparent; opacity: 1; } }
.services__item .services__item_header { font-family: "Open Sans", Arial, sans-serif; font-weight: 300; font-size: 28px; vertical-align: top; display: block; *zoom: 1; }
.services__item .services__item_header:after { content: " "; display: table; clear: both; }
.services__item .services__item_header i { float: left; padding-right: 8%; }
.services__item .services__item_header span { display: inline-block; line-height: 1.2em; }
.services__item .services__item_text { font-family: "Open Sans", Arial, sans-serif; font-size: 16px; margin-top: 15px; }
@media only screen and (max-width: 1024px) { .services__item .services__item_header { font-size: 26px; } }
@media only screen and (max-width: 767px) { .services__item { display: block; width: 100%; }
  .services__item .services__item_header { text-align: center; }
  .services__item .services__item_header i { float: none; display: block; margin: 0 auto; padding-right: 0; } }

.pricing { padding-bottom: 100px; }
.pricing .block_header { padding: 127px 0 100px; }
@media only screen and (max-width: 767px) { .pricing { padding-bottom: 30px; }
  .pricing .block_header { padding: 48px 0; } }

.pricing__content { width: 86%; margin: 0 auto; position: relative; font-size: 0; *zoom: 1; }
.pricing__content:after { content: " "; display: table; clear: both; }
.pricing__content .table { position: relative; width: 30%; vertical-align: top; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; padding-bottom: 46px; display: inline-block; margin-right: 5%; background: #fff; }
.pricing__content .table:last-child { margin-right: 0; }
@media only screen and (max-width: 1024px) { .pricing__content .table { width: 31%; margin-right: -5px; }
  .pricing__content .table.table--orange { width: 38%; }
  .pricing__content .table:last-child { margin-right: 0; } }
@media only screen and (max-width: 767px) { .pricing__content .table { width: 100%; display: block; margin-bottom: 30px; }
  .pricing__content .table.table--orange { width: 100%; } }
.pricing__content .table__header { text-align: center; }
.pricing__content .table__header .table__header_text { font-family: "Open Sans", Arial, sans-serif; font-weight: 300; font-size: 35px; padding: 24px 0; }
.pricing__content .table__header .table__header_number { width: 103%; -moz-transform: translate(-1.5%, 0); -ms-transform: translate(-1.5%, 0); -webkit-transform: translate(-1.5%, 0); transform: translate(-1.5%, 0); padding: 24px 0; }
.pricing__content .table__header .table__price { font-family: "Open Sans", Arial, sans-serif; font-weight: 300; font-size: 80px; }
.pricing__content .table__header .table__price sup { font-size: 0.4em; vertical-align: top; display: inline-block; margin-top: 0.5em; opacity: 0.7; }
.pricing__content .table__header .table__price_about { font-family: "Open Sans", Arial, sans-serif; font-weight: 300; font-size: 24px; }
.pricing__content .table__header .table__price_about b { font-family: "Open Sans", Arial, sans-serif; font-weight: 600; }
.pricing__content .table__content .table__features { font-family: "Open Sans", Arial, sans-serif; font-weight: 300; font-size: 16px; margin: 38px 0 31px 13.31169%; }
.pricing__content .table__content .table__features li { line-height: 2em; }
.pricing__content .table__content .table__features li:before { content: ""; display: inline-block; width: 5px; height: 5px; margin-right: 7px; vertical-align: middle; background-color: #b3b3b3; -moz-border-radius: 50%; -webkit-border-radius: 50%; border-radius: 50%; }
@media only screen and (max-width: 767px) { .pricing__content .table__content .table__features { display: none; } }
.pricing__content .table__content .table__about { display: none; padding: 38px 0 31px; font-family: "Open Sans", Arial, sans-serif; font-weight: 300; color: #000; text-align: center; font-size: 16px; }
@media only screen and (max-width: 767px) { .pricing__content .table__content .table__about { display: block; } }
.pricing__content .table__btn { display: block; width: 74.67532%; height: 65px; margin: 0 auto; font-family: "Open Sans", Arial, sans-serif; font-size: 26px; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; }

.table--gray { -moz-box-shadow: 0 0 0 1px #e5e5e5 inset; -webkit-box-shadow: 0 0 0 1px #e5e5e5 inset; box-shadow: 0 0 0 1px #e5e5e5 inset; margin-top: 24px; }
.table--gray .table__header_number { background-color: #f7f7f7; }
.table--gray .table__btn { background-color: transparent; color: #5A5A5A; -moz-box-shadow: 0 0 0 1px #b2b2b2 inset; -webkit-box-shadow: 0 0 0 1px #b2b2b2 inset; box-shadow: 0 0 0 1px #b2b2b2 inset; }
.table--gray .table__btn:hover { -moz-box-shadow: 0 0 0 2px #000 inset; -webkit-box-shadow: 0 0 0 2px #000 inset; box-shadow: 0 0 0 2px #000 inset; color: #000; }

.table--orange { z-index: 2; -moz-box-shadow: 0 0 0 1px #f3af0a inset; -webkit-box-shadow: 0 0 0 1px #f3af0a inset; box-shadow: 0 0 0 1px #f3af0a inset; }
.table--orange .table__header_number { background-color: #f9eac5; -moz-border-radius: 2px; -webkit-border-radius: 2px; border-radius: 2px; }
.table--orange .table__btn { background-color: #f7b30e; color: #FFF; }
.table--orange .table__btn:hover { opacity: 0.7; }

.pricing__footer { padding-top: 30px; }
@media only screen and (max-width: 767px) { .pricing__footer { display: none; } }
.pricing__footer .pricing__footer_text { font-family: "Open Sans", Arial, sans-serif; font-size: 26px; vertical-align: middle; }
.pricing__footer .pricing__footer_text p { display: inline-block; position: relative; top: 25px; max-width: 45%; }
.pricing__footer .pricing__footer_text p b { font-family: "Open Sans", Arial, sans-serif; font-weight: 600; }
.pricing__footer .pricing__footer_text:before { content: ""; display: inline-block; vertical-align: middle; margin-right: 4.16667%; background: url("../img/hand.png") no-repeat 0 0; width: 565px; height: 233px; max-width: 50%; -moz-background-size: contain; -o-background-size: contain; -webkit-background-size: contain; background-size: contain; }

.news { background-color: #e9f2f4; padding-bottom: 80px; }
.news .block_header { padding: 62px 0 70px; }
.news .news__in { *zoom: 1; }
.news .news__in:after { content: " "; display: table; clear: both; }

.show_more { text-align: center; }
.show_more button { color: #096272; background: transparent; opacity: 0.7; font-family: "Open Sans", Arial, sans-serif; font-weight: 300; font-size: 20px; }
.show_more button i { position: relative; top: 5px; padding-right: 13px; }
.show_more button:hover { opacity: 1; }

.news__container { width: 85%; margin: 0 auto; }
.news__container .news__container_wrap { margin: 0 -7% 0 -4%; *zoom: 1; padding-bottom: 85px; }
.news__container .news__container_wrap:after { content: " "; display: table; clear: both; }
@media only screen and (max-width: 767px) { .news__container .news__container_wrap { padding-bottom: 0; } }

.post { width: 33%; height: 210px; float: left; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; padding: 0 3%; }
@media only screen and (max-width: 767px) { .post { width: 100%; } }
.post > a { display: block; color: #000; }
.post > a:hover { color: #6DA4B3; }
.post .post__heading { margin-bottom: 10px; }
.post .post__heading .post__heading_text { font-family: "Open Sans", Arial, sans-serif; font-weight: 300; font-size: 28px; margin-bottom: 5px; }
.post .post__heading time { font-family: "Open Sans", Arial, sans-serif; font-weight: 300; font-size: 15px; }
.post .post__main { font-family: "Open Sans", Arial, sans-serif; font-size: 16px; opacity: 0.7; }

.advantages .advantages__in { position: relative; padding-bottom: 280px; }
@media only screen and (max-width: 767px) { .advantages .advantages__in { padding-bottom: 200px; } }
.advantages .advantages__in .advantages__pict { position: absolute; left: 50%; bottom: -29px; max-width: 100%; -moz-transform: translate(-50%, 0); -ms-transform: translate(-50%, 0); -webkit-transform: translate(-50%, 0); transform: translate(-50%, 0); }
.advantages .block_header { padding: 85px 0 95px; }
@media only screen and (max-width: 767px) { .advantages .block_header { padding: 50px 0; } }
.advantages .advantages__item { width: 50%; float: left; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; padding-right: 6%; padding-bottom: 60px; }
.advantages .advantages__item:nth-of-type(2n) { padding-left: 6%; padding-right: 0; }
@media only screen and (max-width: 766px) { .advantages .advantages__item { width: 100%; padding-right: 0; }
  .advantages .advantages__item:nth-of-type(2n) { padding-left: 0; } }
.advantages .advantages__item_header { padding-bottom: 10px; }
.advantages .advantages__item_header h5 { font-family: "Open Sans", Arial, sans-serif; font-weight: 300; font-size: 26px; }
.advantages .advantages__item_text { font-family: "Open Sans", Arial, sans-serif; font-size: 14px; opacity: 0.7; line-height: 1.5em; }

.advantages__content { width: 75%; margin: 0 auto; *zoom: 1; }
.advantages__content:after { content: " "; display: table; clear: both; }
@media only screen and (max-width: 1024px) { .advantages__content { width: 100%; padding: 0 9%; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; } }

.work { margin: 0 auto; overflow: hidden; max-width: 1440px; background: url("../img/map.png") no-repeat center; background-position: center 45px; *zoom: 1; }
.work:after { content: " "; display: table; clear: both; }
.work .work__in { width: 100%; margin: 0 auto; overflow: hidden; position: relative; }
.work .block_header { padding: 118px 0 0; margin-left: -3%; color: #fbf6e2; position: relative; z-index: 2; }
.work .footer { margin-top: 708px; }

.work__content { position: absolute; width: 1440px; left: 50%; -moz-transform: translate(-50%, 0); -ms-transform: translate(-50%, 0); -webkit-transform: translate(-50%, 0); transform: translate(-50%, 0); *zoom: 1; }
.work__content:after { content: " "; display: table; clear: both; }

.location { position: relative; max-width: 420px; height: auto; display: block; *zoom: 1; }
.location:after { content: " "; display: table; clear: both; }
@media only screen and (max-width: 480px) { .location { max-width: 320px; } }
.location .location__dot { position: absolute; top: 11px; -moz-transform: translate(-50%, 0); -ms-transform: translate(-50%, 0); -webkit-transform: translate(-50%, 0); transform: translate(-50%, 0); width: 18px; height: 18px; border-radius: 50%; cursor: pointer; background: rgba(255, 255, 255, 0.2); -moz-transition: 0.2s ease-in-out; -o-transition: 0.2s ease-in-out; -webkit-transition: 0.2s ease-in-out; transition: 0.2s ease-in-out; }
.location .location__dot:before { content: ""; position: absolute; top: 5px; left: 5px; width: 8px; height: 8px; border-radius: 50%; background: rgba(255, 255, 255, 0.9); -moz-transition: 0.2s ease-in-out; -o-transition: 0.2s ease-in-out; -webkit-transition: 0.2s ease-in-out; transition: 0.2s ease-in-out; }
.location .location__dot:hover { width: 20px; height: 20px; top: 10px; }
.location .location__dot:hover:before { width: 10px; height: 10px; }

.location--1 { top: 243px; left: 269px; }

.location--2 { top: 296px; left: 180px; }

.location--3 { top: 321px; left: 372px; }

.location--4 { top: 332px; left: 307px; }

.location--5 { top: 561px; left: 473px; }

.location--6 { top: 295px; left: 662px; }

.location--7 { top: 221px; left: 840px; }

.location--8 { top: 423px; left: 842px; }

.location--9 { top: 435px; left: 953px; }

.location--10 { top: 383px; left: 1043px; }

.location--11 { top: 358px; left: 1208px; }

.location--12 { top: 637px; left: 1220px; }

.location__tooltip { position: absolute; display: none; max-width: inherit; top: -5px; z-index: 3; -moz-transform: translate(-50%, -100%); -ms-transform: translate(-50%, -100%); -webkit-transform: translate(-50%, -100%); transform: translate(-50%, -100%); }
.location__tooltip.is-active { display: block; }
.location__tooltip:after { content: ""; display: block; width: 0px; height: 0px; border-style: solid; border-width: 5px 5px 0 5px; border-color: rgba(183, 202, 219, 0.45) transparent transparent transparent; position: absolute; bottom: -5px; left: 50%; -moz-transform: translate(-50%, 0); -ms-transform: translate(-50%, 0); -webkit-transform: translate(-50%, 0); transform: translate(-50%, 0); }
.location__tooltip .icon-close { position: absolute; top: 7px; right: 7px; opacity: 0.5; cursor: pointer; }
.location__tooltip .icon-close:hover { opacity: 1; }

.comment { max-width: 420px; max-width: inherit; background-color: rgba(183, 202, 219, 0.45); -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; padding: 4% 4.5% 5.3%; color: #FFF; }
.comment .author__data { font-size: 22px; }
.comment .author__name { font-family: "PT Sans", Arial, sans-serif; font-weight: 700; }
.comment .author__address { display: inline; font-family: "Open Sans", Arial, sans-serif; font-weight: 300; font-style: normal; font-size: 20px; }
.comment .comment__text { font-family: "PT Sans", Arial, sans-serif; font-size: 13px; padding-top: 5px; letter-spacing: 0.01em; }
.comment .author__photo { display: table-cell; padding: 6px 0 0; }
.comment .author__photo img { width: 77px; height: 77px; -moz-border-radius: 77px; -webkit-border-radius: 77px; border-radius: 77px; overflow: hidden; }
.comment .comment__info { display: table-cell; vertical-align: top; padding-left: 5%; }

.js-view { opacity: 0; position: relative; -moz-transform: translateY(20px); -ms-transform: translateY(20px); -webkit-transform: translateY(20px); transform: translateY(20px); -moz-transition: -moz-transform 400ms, opacity 400ms; -o-transition: -o-transform 400ms, opacity 400ms; -webkit-transition: -webkit-transform 400ms, opacity 400ms; transition: transform 400ms, opacity 400ms; }
.js-view.animated { opacity: 1; -moz-transform: translateY(0); -ms-transform: translateY(0); -webkit-transform: translateY(0); transform: translateY(0); }

@-moz-keyframes rotation { from { -ms-transform: rotate(0deg); -webkit-transform: rotate(0deg); transform: rotate(0deg); }
  to { -ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); transform: rotate(360deg); } }
@-webkit-keyframes rotation { from { -ms-transform: rotate(0deg); -webkit-transform: rotate(0deg); transform: rotate(0deg); }
  to { -ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); transform: rotate(360deg); } }
@-o-keyframes rotation { from { -ms-transform: rotate(0deg); -webkit-transform: rotate(0deg); transform: rotate(0deg); }
  to { -ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); transform: rotate(360deg); } }
@-ms-keyframes rotation { from { -ms-transform: rotate(0deg); -webkit-transform: rotate(0deg); transform: rotate(0deg); }
  to { -ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); transform: rotate(360deg); } }
@keyframes rotation { from { -ms-transform: rotate(0deg); -webkit-transform: rotate(0deg); transform: rotate(0deg); }
  to { -ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); transform: rotate(360deg); } }
.btn_show.is-loading i.icon-show img { -webkit-animation: rotation 1.5s linear infinite; -moz-animation: rotation 1.5s linear infinite; -ms-animation: rotation 1.5s linear infinite; -o-animation: rotation 1.5s linear infinite; animation: rotation 1.5s linear infinite; }

.out__eula .main { margin-top: 82px; position: relative; }

.eula .block_header { padding: 88px 0 65px; }

.eula__content { margin: 0 auto; padding-bottom: 123px; }
.eula__content h5 { font-family: "Open Sans", Arial, sans-serif; font-weight: 600; font-size: 22px; text-align: center; padding-bottom: 32px; }
.eula__content p { padding: 0 7.5%; font-family: "Open Sans", Arial, sans-serif; font-weight: 300; font-size: 18px; padding-bottom: 30px; line-height: 1.7em; }
.eula__content h6 { padding: 0 7.5%; font-family: "Open Sans", Arial, sans-serif; font-weight: 600; font-size: 20px; }
.eula__content img { position: relative; width: 102%; height: auto; left: -1%; margin-bottom: 30px; border-radius: 4px; *zoom: 1; }
.eula__content img:after { content: " "; display: table; clear: both; }
@media only screen and (max-width: 767px) { .eula__content img { width: 100%; left: 0; border-radius: 0; } }

.blog { margin-top: 80px; }
.blog .block_header { padding: 88px 0 80px; }
.blog .post { margin-bottom: 55px; }
.blog .news__container { padding-bottom: 120px; }
.blog .news__container_wrap { padding-bottom: 21px; }

.article { margin-top: 80px; }
.article .news__container { padding-top: 100px; }
@media only screen and (max-width: 767px) { .article .news__container { padding-top: 50px; } }
.article .article__back { display: block; color: #64959f; opacity: 0.5; -moz-transition: 0.1s; -o-transition: 0.1s; -webkit-transition: 0.1s; transition: 0.1s; font-family: "Open Sans", Arial, sans-serif; font-weight: 300; font-size: 32px; margin-bottom: 55px; }
.article .article__back:hover { opacity: 1; color: #000; }
.article .article__back i { padding-right: 1%; position: relative; top: 3px; }
.article .post { width: 100%; padding: 0; float: none; display: block; height: auto; }
.article .post .post__heading { margin-bottom: 25px; }
.article .post .post__heading_text { font-size: 50px; margin-bottom: 20px; letter-spacing: 1px; }
@media only screen and (max-width: 768px) { .article .post .post__heading_text { font-size: 36px; } }
.article .post .post__main { font-family: "Open Sans", Arial, sans-serif; font-weight: 300; font-size: 18px; line-height: 1.8em; letter-spacing: 0.01em; }
.article .post .post__main p { padding-bottom: 30px; }
@media only screen and (max-width: 768px) { .article .post .post__main { font-size: 16px; } }

.cap { max-width: 540px; width: 100%; height: 100%; margin: 0 auto; }

.cap__content { position: absolute; top: 50%; -moz-transform: translate(0, -50%); -ms-transform: translate(0, -50%); -webkit-transform: translate(0, -50%); transform: translate(0, -50%); text-align: center; }

.cap__logo { margin: 0 auto; }

.cap__text { color: rgba(255, 255, 255, 0.4); margin-top: 11.13861%; }

.cap__heading { font-family: "Open Sans", Arial, sans-serif; font-weight: 300; }
.cap__heading h1 { font-size: 50px; font-family: "Open Sans", Arial, sans-serif; font-weight: 300; margin-bottom: 3.09406%; }
.cap__heading p { font-size: 22px; }

.cap__footer { font-size: 18px; margin-top: 11.13861%; }
.cap__footer p { letter-spacing: 1px; }
.cap__footer a { color: #FFF; font-family: "Open Sans", Arial, sans-serif; font-weight: 700; }

.overlay { position: fixed; top: 0; bottom: 0; right: 0; left: 0; text-align: center; font-size: 0; background: rgba(0, 26, 30, 0.9); z-index: 999; }
.overlay:before { content: ""; display: inline-block; vertical-align: middle; width: 0; height: 100%; }

.popup { position: relative; display: inline-block; vertical-align: middle; max-width: 900px; width: 90%; font-family: "Open Sans", Arial, sans-serif; padding: 70px 10px 57px; background: #fff; border-radius: 5px; }
.popup .popup__close { position: absolute; top: 10px; right: 10px; background: url('../img/icons-s2a0909a6e2.png') 0 -26px no-repeat; width: 11px; height: 11px; opacity: 0.3; -moz-transition: opacity 200ms; -o-transition: opacity 200ms; -webkit-transition: opacity 200ms; transition: opacity 200ms; cursor: pointer; }
.popup .popup__close:hover { opacity: 1; }
.popup .popup__header { margin-bottom: 10px; text-align: center; }
.popup .popup__header.popup__header_spaced { margin-bottom: 44px; }
.popup .popup__title { display: inline-block; vertical-align: middle; font-size: 36px; font-weight: 300; font-family: "Open Sans", Arial, sans-serif; font-weight: 300; text-transform: uppercase; color: #425365; }
.popup .popup__call { display: inline-block; vertical-align: middle; margin-left: 22px; }
.popup .popup__call p { font-size: 14px; color: #bfc6cd; }
.popup .popup__call a { font-size: 16px; color: #001d34; }
.popup .popup__footer { padding-top: 40px; text-align: center; font-size: 16px; color: #425365; }
.popup .popup__footer a { font-family: "Open Sans", Arial, sans-serif; font-weight: 700; color: #425365; }

.form { position: relative; text-align: center; }
.form.invalid .form__alert { opacity: 1; }
.form .form__alert { opacity: 0; margin-bottom: 15px; font-family: "Open Sans", Arial, sans-serif; font-weight: 300; font-size: 18px; color: #e35845; }
.form .form__col { width: 330px; display: inline-block; vertical-align: top; margin-left: 17px; }
.form .form__col:first-child { margin-left: 0; }
.form .form__row { *zoom: 1; margin-bottom: 12px; }
.form .form__row:after { content: " "; display: table; clear: both; }
.form .form__note { font-size: 12px; color: #7D838A; }
.form .form__note a { font-weight: bold; text-decoration: none; color: #95ADB5; }

.input { width: 100%; height: 52px; padding: 0 22px; border-radius: 3px; border: 1px solid transparent; background: rgba(206, 218, 220, 0.3); font-size: 18px; color: #000; font-family: "Open Sans", Arial, sans-serif; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.input:-ms-input-placeholder { color: #6f8487; font-family: "Open Sans", Arial, sans-serif; font-weight: 300; }
.input:-moz-placeholder { color: #6f8487; font-family: "Open Sans", Arial, sans-serif; font-weight: 300; }
.input::-moz-placeholder { color: #6f8487; font-family: "Open Sans", Arial, sans-serif; font-weight: 300; }
.input::-webkit-input-placeholder { color: #6f8487; font-family: "Open Sans", Arial, sans-serif; font-weight: 300; }
.input::placeholder { color: #6f8487; font-family: "Open Sans", Arial, sans-serif; font-weight: 300; }
.input:hover { background: rgba(206, 218, 220, 0.7); }
.input:focus { border: 1px solid #d1dbdd; background: #fff; }
.input:focus:-ms-input-placeholder { font-size: 0; }
.input:focus:-moz-placeholder { font-size: 0; }
.input:focus::-moz-placeholder { font-size: 0; }
.input:focus::-webkit-input-placeholder { font-size: 0; }
.input:focus::placeholder { font-size: 0; }
.input.error { border: 1px solid #ffeeec; background: #ffeeec; }

.checkbox { position: relative; }
.checkbox.checkbox_left { float: left; }
.checkbox input { position: absolute; opacity: 0; }
.checkbox input + i { position: relative; display: inline-block; vertical-align: middle; width: 18px; height: 18px; margin-right: 10px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; border: 1px solid #d1dcde; border-radius: 3px; }
.checkbox input:checked + i:before { content: ""; position: absolute; top: -2px; left: 2px; background: url('../img/icons-s2a0909a6e2.png') 0 0 no-repeat; width: 23px; height: 16px; }
.checkbox span { display: inline-block; vertical-align: middle; font-size: 15px; color: #9ba6b0; -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }

.forgot { float: right; font-size: 15px; color: #9ba6b0; }

.button { width: 100%; height: 52px; border-radius: 3px; background: #f7b30e; -moz-transition: background 200ms; -o-transition: background 200ms; -webkit-transition: background 200ms; transition: background 200ms; font-size: 28px; font-family: "Open Sans", Arial, sans-serif; font-weight: 300; color: #fff; }
.button:hover { background: #ffca4a; }
