@import url("http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,300,600,700");
@import url("http://fonts.googleapis.com/css?family=PT+Sans:400,700");
@import url("http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css");
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; vertical-align: baseline; }

body, html { height: 100%; }

img, fieldset, a img { border: none; }

input[type="text"], input[type="email"], input[type="tel"], textarea { -webkit-appearance: none; }

input[type="submit"], button { cursor: pointer; }
input[type="submit"]::-moz-focus-inner, button::-moz-focus-inner { padding: 0; border: 0; }

textarea { overflow: auto; }

input, button { margin: 0; padding: 0; border: 0; }

div, input, textarea, select, button, h1, h2, h3, h4, h5, h6, a, span, a:focus { outline: none; }

ul, ol { list-style-type: none; }

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) { * { -webkit-text-size-adjust: none; } }
table { border-spacing: 0; border-collapse: collapse; width: 100%; }

body { font-family: Arial, sans-serif; font-size: 12px; line-height: 1.4; background-color: #03283d; }

a { text-decoration: none; }

input[type="button"], input[type="submit"] { cursor: pointer; }

.is-overlay { display: block; width: 100%; height: 100%; }

#bg_video { position: fixed; top: 0; right: 0; bottom: 0; left: 0; overflow: hidden; z-index: -9; }
#bg_video video { position: absolute; top: 0; left: 0; min-width: 100%; min-height: 100%; width: auto; height: auto; }

i[class^="icon-"] { display: inline-block; }

i.icon-phone { background: url('../img/icons-s06c1f116e7.png') 0 -247px no-repeat; width: 24px; height: 24px; }

i.icon-user { background: url('../img/icons-s06c1f116e7.png') 0 -556px no-repeat; width: 21px; height: 21px; }

i.icon-drop { background: url('../img/icons-s06c1f116e7.png') 0 -30px no-repeat; width: 21px; height: 11px; }

i.icon-setup { background: url('../img/icons-s06c1f116e7.png') 0 -353px no-repeat; width: 62px; height: 62px; }

i.icon-virus { background: url('../img/icons-s06c1f116e7.png') 0 -587px no-repeat; width: 74px; height: 73px; }

i.icon-comp { background: url('../img/icons-s06c1f116e7.png') 0 -105px no-repeat; width: 76px; height: 58px; }

i.icon-tuneup { background: url('../img/icons-s06c1f116e7.png') 0 -489px no-repeat; width: 63px; height: 57px; }

i.icon-protect { background: url('../img/icons-s06c1f116e7.png') 0 -281px no-repeat; width: 54px; height: 62px; }

i.icon-email { background: url('../img/icons-s06c1f116e7.png') 0 -173px no-repeat; width: 69px; height: 64px; }

i.icon-show { background: url('../img/icons-s06c1f116e7.png') 0 -425px no-repeat; width: 22px; height: 20px; }

i.icon-close { background: url('../img/icons-s06c1f116e7.png') 0 -87px no-repeat; width: 8px; height: 8px; }

i.icon-teamviewer { background: url('../img/icons-s06c1f116e7.png') 0 -455px no-repeat; width: 20px; height: 24px; }

i.icon-back { background: url('../img/icons-s06c1f116e7.png') 0 -51px no-repeat; width: 13px; height: 26px; }

.table { display: table; }

.row { display: table-row; }

.tc { display: table-cell; }

.header { width: 100%; }
.header a { color: white; }
.header .header__in { width: 95%; margin: 0 auto; *zoom: 1; }
.header .header__in:after { content: " "; display: table; clear: both; }

.header__nav { float: left; }
.header__nav ul { *zoom: 1; margin-left: 28px; }
.header__nav ul:after { content: " "; display: table; clear: both; }
.header__nav li { float: left; }
.header__nav li a { display: block; padding: 40px 16px 0; font-size: 20px; font-family: "Open Sans", Arial, sans-serif; font-weight: 300; opacity: 0.5; position: relative; transition: 0.2s; }
.header__nav li a:after { content: ""; display: none; position: absolute; top: 1px; left: 50%; -moz-transform: translate(-50%, 0); -ms-transform: translate(-50%, 0); -webkit-transform: translate(-50%, 0); transform: translate(-50%, 0); width: 80%; border-bottom: 3px solid white; }
.header__nav li a:hover { opacity: 1; }
.header__nav li a:hover:after { display: block; }

.header__contact { float: right; width: 30%; *zoom: 1; text-align: right; }
.header__contact:after { content: " "; display: table; clear: both; }
.header__contact p { display: inline-block; padding: 40px 0 0 15%; text-align: right; }
.header__contact p:first-child { padding-left: 0; }
.header__contact p a { font-size: 22px; opacity: 0.5; font-family: "Open Sans", Arial, sans-serif; font-weight: 300; }
.header__contact p a:hover { opacity: 1; transition: 0.2s; }
.header__contact p i { position: relative; left: -14px; }

.header__logo { float: left; margin-top: 30px; }

.logo { background: url('../img/icons-s06c1f116e7.png') 0 -738px no-repeat; width: 164px; height: 40px; }

.logo--big { background: url('../img/icons-s06c1f116e7.png') 0 -670px no-repeat; width: 241px; height: 58px; }

.block_header { font-family: "Open Sans", Arial, sans-serif; font-weight: 300; font-size: 52px; text-align: center; letter-spacing: 1px; }

.block_header--white { color: white; }

.main { width: 84%; max-width: 1200px; background-color: white; margin: 0 auto; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; }
.main .block_header { color: black; }

.footer { max-width: 645px; margin: 0 auto; margin-top: 700px; }

.footer__contacts { width: inherit; *zoom: 1; }
.footer__contacts:after { content: " "; display: table; clear: both; }
.footer__contacts a { color: white; font-family: "Open Sans", Arial, sans-serif; font-weight: 300; font-size: 32px; letter-spacing: 1px; }
.footer__contacts .is-left { float: left; }
.footer__contacts .is-right { float: right; }

.footer__social { color: white; width: inherit; font-size: 0; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; margin-top: 30px; overflow: hidden; }
.footer__social li { display: inline-block; width: 20%; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.footer__social li a { width: 99%; display: block; padding: 15px 0 15px 18%; background-color: rgba(255, 255, 255, 0.1); color: white; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; -moz-transition: 0.2s; -o-transition: 0.2s; -webkit-transition: 0.2s; transition: 0.2s; }
.footer__social li a:hover { background-color: rgba(199, 248, 255, 0.3); }
.footer__social li:last-child { margin-right: 0; }
.footer__social .fa { font-size: 26px; vertical-align: bottom; padding-right: 16%; }
.footer__social span { font-size: 19px; opacity: 0.6; font-family: "Open Sans", Arial, sans-serif; font-weight: 300; }

.footer__link { margin-top: 50px; padding-bottom: 45px; }
.footer__link ul { text-align: center; }
.footer__link li { display: inline-block; text-align: center; }
.footer__link li a { color: white; padding: 0 20px; display: block; letter-spacing: 1px; font-family: "Open Sans", Arial, sans-serif; font-weight: 300; font-size: 16px; opacity: 0.7; transition: 0.1s; white-space: nowrap; }
.footer__link li a:hover { opacity: 1; }
.footer__link li a i { vertical-align: bottom; padding-right: 3%; }

.l { *zoom: 1; }
.l:after { content: " "; display: table; clear: both; }
.l .l-col1 { float: left; width: 20%; }
.l .l-col2 { float: right; width: 70%; }

.greet { padding: 215px 0 320px; }
.greet .greet__in { text-align: center; }

.greet__text { color: white; }
.greet__text h1 { font-family: "Open Sans", Arial, sans-serif; font-weight: 300; font-size: 48px; }
.greet__text p { font-family: "Open Sans", Arial, sans-serif; font-weight: 300; font-size: 20px; padding-top: 10px; opacity: 0.7; }

.greet__form { font-size: 0; padding-top: 40px; }
.greet__form .greet__form_item, .greet__form .dropdown input { display: inline-block; vertical-align: top; font-size: 24px; padding: 0px 15px; margin: 0 3px; height: 55px; font-family: "Open Sans", Arial, sans-serif; font-weight: 300; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; background-color: white; opacity: 0.3; margin: 0 3px; color: #001d34; text-align: left; }
.greet__form .greet__form_item:-moz-placeholder, .greet__form .greet__form_item::-moz-placeholder, .greet__form .dropdown input:-moz-placeholder, .greet__form .dropdown input::-moz-placeholder { color: rgba(0, 29, 52, 0.3); opacity: 1; }
.greet__form .greet__form_item::-webkit-input-placeholder, .greet__form .dropdown input::-webkit-input-placeholder { color: rgba(0, 29, 52, 0.3); }
.greet__form .greet__form_item:hover, .greet__form .dropdown input:hover { opacity: 0.6; }
.greet__form .greet__form_item:focus, .greet__form .greet__form_item.filled, .greet__form .dropdown input:focus, .greet__form .dropdown input.filled { opacity: 1; }
.greet__form .js-drop { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

.dropdown { width: 370px; border: 0px; outline: none; -moz-appearance: none; -webkit-appearance: none; appearance: none; cursor: pointer; background: url("../img/icons/drop_arr.png") no-repeat 95% 53%; }
.dropdown option { background-color: white; opacity: 0.6; }
.dropdown option:hover { opacity: 0.8; }

.greet__form_email { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; width: 315px; padding: 20px 15px; }

.greet__form_name { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; width: 235px; padding: 20px 15px; }

.greet__submit { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; width: 115px; padding: 0px 15px; height: 55px; margin: 0 3px; opacity: 1; background-color: #f7b30e; color: white; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; font-family: "Open Sans", Arial, sans-serif; font-weight: 300; font-size: 24px; }

.dropdown__menu { display: none; }

.about { width: 100%; padding-bottom: 155px; }
.about .block_header { padding: 88px 0 66px; }

.about__content { margin-left: 9%; position: relative; *zoom: 1; }
.about__content:after { content: " "; display: table; clear: both; }

.about__text p { padding-bottom: 40px; font-family: "Open Sans", Arial, sans-serif; font-weight: 300; font-size: 19px; width: 47%; line-height: 1.57em; position: relative; z-index: 2; }
.about__text p:last-child { padding-bottom: 0; }
.about__text:before { content: ""; position: absolute; right: 0; background: url("../img/comps.png") no-repeat 0 0; width: 511px; height: 413px; z-index: 1; }

.services { background-color: #faf1dc; }
.services .block_header { padding-top: 99px; }

.services__content { margin: 0 auto; padding: 63px 0 133px; width: 75%; *zoom: 1; }
.services__content:after { content: " "; display: table; clear: both; }

.services__item { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; padding: 5% 5% 5% 7%; width: 50%; vertical-align: top; cursor: pointer; }
.services__item:hover { -moz-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.6) inset; -webkit-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.6) inset; box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.6) inset; opacity: 0.7; -moz-transition: 0.1s; -o-transition: 0.1s; -webkit-transition: 0.1s; transition: 0.1s; }
.services__item .services__item_header { font-family: "Open Sans", Arial, sans-serif; font-weight: 300; font-size: 28px; vertical-align: top; display: block; *zoom: 1; }
.services__item .services__item_header:after { content: " "; display: table; clear: both; }
.services__item .services__item_header i { float: left; padding-right: 8%; }
.services__item .services__item_header span { display: inline-block; line-height: 1.2em; }
.services__item .services__item_text { font-family: "Open Sans", Arial, sans-serif; font-size: 16px; margin-top: 15px; }

.pricing { padding-bottom: 100px; }
.pricing .block_header { padding: 127px 0 100px; }

.pricing__content { width: 86%; margin: 0 auto; position: relative; *zoom: 1; }
.pricing__content:after { content: " "; display: table; clear: both; }
.pricing__content .table { width: 30%; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; padding-bottom: 46px; }
.pricing__content .table.is-left { float: left; }
.pricing__content .table.is-right { float: right; }
.pricing__content .table.is-center { position: absolute; left: 50%; -moz-transform: translate(-50%, 0); -ms-transform: translate(-50%, 0); -webkit-transform: translate(-50%, 0); transform: translate(-50%, 0); }
.pricing__content .table__header { text-align: center; }
.pricing__content .table__header .table__header_text { font-family: "Open Sans", Arial, sans-serif; font-weight: 300; font-size: 35px; padding: 24px 0; }
.pricing__content .table__header .table__header_number { width: 103%; -moz-transform: translate(-1.5%, 0); -ms-transform: translate(-1.5%, 0); -webkit-transform: translate(-1.5%, 0); transform: translate(-1.5%, 0); padding: 24px 0; }
.pricing__content .table__header .table__price { font-family: "Open Sans", Arial, sans-serif; font-weight: 300; font-size: 80px; }
.pricing__content .table__header .table__price sup { font-size: 0.4em; vertical-align: top; display: inline-block; margin-top: 0.5em; opacity: 0.7; }
.pricing__content .table__header .table__price_about { font-family: "Open Sans", Arial, sans-serif; font-weight: 300; font-size: 24px; }
.pricing__content .table__header .table__price_about b { font-family: "Open Sans", Arial, sans-serif; font-weight: 600; }
.pricing__content .table__content .table__features { font-family: "Open Sans", Arial, sans-serif; font-weight: 300; font-size: 16px; margin: 38px 0 31px 13.31169%; }
.pricing__content .table__content .table__features li { line-height: 2em; }
.pricing__content .table__content .table__features li:before { content: ""; display: inline-block; width: 5px; height: 5px; margin-right: 7px; vertical-align: middle; background-color: #b3b3b3; -moz-border-radius: 50%; -webkit-border-radius: 50%; border-radius: 50%; }
.pricing__content .table__btn { display: block; width: 74.67532%; height: 65px; margin: 0 auto; font-family: "Open Sans", Arial, sans-serif; font-size: 26px; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; }

.table--gray { -moz-box-shadow: 0 0 0 1px #e5e5e5 inset; -webkit-box-shadow: 0 0 0 1px #e5e5e5 inset; box-shadow: 0 0 0 1px #e5e5e5 inset; margin-top: 24px; }
.table--gray .table__header_number { background-color: #f7f7f7; }
.table--gray .table__btn { background-color: transparent; color: #5a5a5a; -moz-box-shadow: 0 0 0 1px #b2b2b2 inset; -webkit-box-shadow: 0 0 0 1px #b2b2b2 inset; box-shadow: 0 0 0 1px #b2b2b2 inset; }
.table--gray .table__btn:hover { -moz-box-shadow: 0 0 0 2px black inset; -webkit-box-shadow: 0 0 0 2px black inset; box-shadow: 0 0 0 2px black inset; color: black; }

.table--orange { -moz-box-shadow: 0 0 0 1px #f3af0a inset; -webkit-box-shadow: 0 0 0 1px #f3af0a inset; box-shadow: 0 0 0 1px #f3af0a inset; }
.table--orange .table__header_number { background-color: #f9eac5; -moz-border-radius: 2px; -webkit-border-radius: 2px; border-radius: 2px; }
.table--orange .table__btn { background-color: #f7b30e; color: white; }
.table--orange .table__btn:hover { opacity: 0.7; }

.pricing__footer { padding-top: 30px; }
.pricing__footer .pricing__footer_text { font-family: "Open Sans", Arial, sans-serif; font-size: 26px; vertical-align: middle; }
.pricing__footer .pricing__footer_text p { display: inline-block; position: relative; top: 25px; }
.pricing__footer .pricing__footer_text p b { font-family: "Open Sans", Arial, sans-serif; font-weight: 600; }
.pricing__footer .pricing__footer_text:before { content: ""; display: inline-block; vertical-align: middle; margin-right: 4.16667%; background: url("../img/hand.png") no-repeat 0 0; width: 565px; height: 233px; }

.news { background-color: #e9f2f4; padding-bottom: 80px; }
.news .block_header { padding: 62px 0 70px; }
.news .news__in { *zoom: 1; }
.news .news__in:after { content: " "; display: table; clear: both; }

.show_more { text-align: center; }
.show_more button { color: #096272; background: transparent; opacity: 0.7; font-family: "Open Sans", Arial, sans-serif; font-weight: 300; font-size: 20px; }
.show_more button i { position: relative; top: 5px; padding-right: 13px; }
.show_more button:hover { opacity: 1; }

.news__container { width: 85%; margin: 0 auto; }
.news__container .news__container_wrap { margin: 0 -7% 0 -4%; *zoom: 1; padding-bottom: 85px; }
.news__container .news__container_wrap:after { content: " "; display: table; clear: both; }

.post { width: 33%; height: 210px; float: left; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; padding: 0 3%; }
.post > a { display: block; color: black; }
.post > a:hover { color: #6da4b3; }
.post .post__heading { margin-bottom: 10px; }
.post .post__heading .post__heading_text { font-family: "Open Sans", Arial, sans-serif; font-weight: 300; font-size: 28px; margin-bottom: 5px; }
.post .post__heading time { font-family: "Open Sans", Arial, sans-serif; font-weight: 300; font-size: 15px; }
.post .post__main { font-family: "Open Sans", Arial, sans-serif; font-size: 16px; opacity: 0.7; }

.advantages .advantages__in { position: relative; padding-bottom: 280px; }
.advantages .advantages__in:after { content: ""; display: block; background: url("../img/man.png") no-repeat 0 0; width: 590px; height: 246px; position: absolute; bottom: -29px; left: 55%; -moz-transform: translate(-50%, 0); -ms-transform: translate(-50%, 0); -webkit-transform: translate(-50%, 0); transform: translate(-50%, 0); }
.advantages .block_header { padding: 85px 0 95px; }
.advantages .advantages__item { width: 50%; float: left; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; padding-right: 6%; padding-bottom: 60px; }
.advantages .advantages__item:nth-of-type(2n) { padding-left: 6%; padding-right: 0; }
.advantages .advantages__item_header { padding-bottom: 10px; }
.advantages .advantages__item_header h5 { font-family: "Open Sans", Arial, sans-serif; font-weight: 300; font-size: 26px; }
.advantages .advantages__item_text { font-family: "Open Sans", Arial, sans-serif; font-size: 14px; opacity: 0.7; line-height: 1.5em; }

.advantages__content { width: 75%; margin: 0 auto; *zoom: 1; }
.advantages__content:after { content: " "; display: table; clear: both; }

.work { background: url("../img/map.png") no-repeat center 45px; overflow: hidden; }
.work .block_header { padding: 118px 0 0; margin-left: -3%; }
.work .footer { margin-top: 708px; }

.work__content { position: relative; }

.location { position: absolute; max-width: 420px; height: auto; display: block; *zoom: 1; }
.location:after { content: " "; display: table; clear: both; }
.location .location__dot { position: absolute; bottom: -20px; left: 50%; -moz-transform: translate(-50%, 0); -ms-transform: translate(-50%, 0); -webkit-transform: translate(-50%, 0); transform: translate(-50%, 0); width: 8px; height: 8px; -moz-border-radius: 50%; -webkit-border-radius: 50%; border-radius: 50%; -moz-box-shadow: 0 0 0 5px rgba(255, 255, 255, 0.2); -webkit-box-shadow: 0 0 0 5px rgba(255, 255, 255, 0.2); box-shadow: 0 0 0 5px rgba(255, 255, 255, 0.2); cursor: pointer; background-color: rgba(255, 255, 255, 0.9); }
.location .location__dot:hover { width: 10px; height: 10px; }

.location--1 { top: 50px; left: 67px; }

.location--2 { top: 100px; left: -22px; }

.location--3 { top: 137px; left: 104px; }

.location--4 { position: absolute; top: 126px; left: 170px; }

.location--5 { position: absolute; top: 367px; left: 270px; }

.location--6 { position: absolute; top: 100px; left: 460px; }

.location--7 { position: absolute; top: 25px; left: 638px; }

.location--8 { position: absolute; top: 226px; left: 639px; }

.location--9 { position: absolute; top: 238px; left: 751px; }

.location--10 { position: absolute; top: 187px; left: 842px; }

.location--11 { position: absolute; top: 163px; right: -2px; }

.location--12 { position: absolute; top: 441px; right: -15px; }

.location__tooltip { visibility: hidden; position: relative; max-width: inherit; top: -5px; }
.location__tooltip.is-active { visibility: visible; }
.location__tooltip:after { content: ""; display: block; width: 0px; height: 0px; border-style: solid; border-width: 5px 5px 0 5px; border-color: rgba(183, 202, 219, 0.45) transparent transparent transparent; position: absolute; bottom: -5px; left: 50%; -moz-transform: translate(-50%, 0); -ms-transform: translate(-50%, 0); -webkit-transform: translate(-50%, 0); transform: translate(-50%, 0); }
.location__tooltip .icon-close { position: absolute; top: 7px; right: 7px; opacity: 0.5; cursor: pointer; }
.location__tooltip .icon-close:hover { opacity: 1; }

.comment { max-width: 420px; max-width: inherit; background-color: rgba(183, 202, 219, 0.45); -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; padding: 4% 4.5% 5.3%; color: white; }
.comment .author__data { font-size: 22px; }
.comment .author__name { font-family: "PT Sans", Arial, sans-serif; font-weight: 700; }
.comment .author__address { display: inline; font-family: "Open Sans", Arial, sans-serif; font-weight: 300; font-style: normal; font-size: 20px; }
.comment .comment__text { font-family: "PT Sans", Arial, sans-serif; font-size: 13px; padding-top: 5px; letter-spacing: 0.01em; }
.comment .author__photo { display: table-cell; padding: 6px 0 0; }
.comment .author__photo img { width: 77px; height: 77px; -moz-border-radius: 77px; -webkit-border-radius: 77px; border-radius: 77px; overflow: hidden; }
.comment .comment__info { display: table-cell; vertical-align: top; padding-left: 5%; }

.out__eula .main { margin-top: 82px; position: relative; }

.eula .block_header { padding: 88px 0 65px; }

.eula__content { margin: 0 auto; padding-bottom: 123px; }

.eula__main_header { font-family: "Open Sans", Arial, sans-serif; font-weight: 600; font-size: 22px; text-align: center; padding-bottom: 32px; }

.eula__paragraph { padding: 0 7.5%; font-family: "Open Sans", Arial, sans-serif; font-weight: 300; font-size: 18px; padding-bottom: 30px; line-height: 1.7em; }

.eula__header { padding: 0 7.5%; font-family: "Open Sans", Arial, sans-serif; font-weight: 600; font-size: 20px; }

.eula__img { position: relative; width: 102%; height: auto; left: -1%; margin-bottom: 30px; *zoom: 1; }
.eula__img:after { content: " "; display: table; clear: both; }
.eula__img strong { display: block; background: url("../img/keyboard.png") no-repeat 0 0; width: 1220px; height: 567px; -moz-background-size: contain; -o-background-size: contain; -webkit-background-size: contain; background-size: contain; width: 100%; }

.blog { margin-top: 80px; }
.blog .block_header { padding: 88px 0 80px; }
.blog .post { margin-bottom: 55px; }
.blog .news__container { padding-bottom: 120px; }
.blog .news__container_wrap { padding-bottom: 21px; }

.article { margin-top: 80px; }
.article .news__container { padding-top: 100px; }
.article .article__back { display: block; color: #64959f; opacity: 0.5; -moz-transition: 0.1s; -o-transition: 0.1s; -webkit-transition: 0.1s; transition: 0.1s; font-family: "Open Sans", Arial, sans-serif; font-weight: 300; font-size: 32px; margin-bottom: 55px; }
.article .article__back:hover { opacity: 1; color: black; }
.article .article__back i { padding-right: 1%; position: relative; top: 3px; }
.article .post { width: 100%; padding: 0; float: none; display: block; height: auto; }
.article .post .post__heading { margin-bottom: 25px; }
.article .post .post__heading_text { font-size: 50px; margin-bottom: 20px; letter-spacing: 1px; }
.article .post .post__main { font-family: "Open Sans", Arial, sans-serif; font-weight: 300; font-size: 18px; line-height: 1.8em; letter-spacing: 0.01em; }
.article .post .post__main p { padding-bottom: 30px; }

.cap { max-width: 540px; width: 100%; height: 100%; margin: 0 auto; }

.cap__content { position: absolute; top: 50%; -moz-transform: translate(0, -50%); -ms-transform: translate(0, -50%); -webkit-transform: translate(0, -50%); transform: translate(0, -50%); text-align: center; }

.cap__logo { margin: 0 auto; }

.cap__text { color: rgba(255, 255, 255, 0.4); margin-top: 11.13861%; }

.cap__heading { font-family: "Open Sans", Arial, sans-serif; font-weight: 300; }
.cap__heading h1 { font-size: 50px; font-family: "Open Sans", Arial, sans-serif; font-weight: 300; margin-bottom: 3.09406%; }
.cap__heading p { font-size: 22px; }

.cap__footer { font-size: 18px; margin-top: 11.13861%; }
.cap__footer p { letter-spacing: 1px; }
.cap__footer a { color: white; font-family: "Open Sans", Arial, sans-serif; font-weight: 700; }
