// 404.html
.cap
	max-width: 540px 
	width: 100% 
	height: 100% 
	margin: 0 auto 
	// position: relative
	
.cap__content
	position: absolute
	top: 50%
	+translate(0,-50%) 
	text-align: center
.cap__logo
	margin: 0 auto 
.cap__text
	color: rgba(#fff, .4) 
	margin-top: percentage(90px / 808px)
.cap__heading
	+os-l
	h1
		font-size: 50px
		+os-l
		margin-bottom: percentage(25px / 808px)
	p
		font-size: 22px 
.cap__footer
	font-size: 18px 
	margin-top: percentage(90px / 808px)
	p
		letter-spacing: 1px 
	a
		color: #FFF
		+os-b
		 