@import url("http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,300,600,700")
@import url("http://fonts.googleapis.com/css?family=PT+Sans:400,700")
@import url("http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css")
//mixin
=os
	font-family: 'Open Sans', Arial, sans-serif
=os-l
	font-family: 'Open Sans', Arial, sans-serif
	font-weight: 300
=os-sb
	font-family: 'Open Sans', Arial, sans-serif
	font-weight: 600 
=ps
	font-family: 'PT Sans', Arial, sans-serif
=ps-b
	font-family: 'PT Sans', Arial, sans-serif
	font-weight: 700 

body
	font-family: Arial, sans-serif 
	font-size: 12px 
	line-height: 1.4
	background-color: #03283D 
a
	text-decoration: none
input[type="button"], input[type="submit"]
	cursor: pointer
.is-overlay
	display: block
	width: 100%
	height: 100%
	  
#bg_video
	position: fixed
	top: 0
	right: 0
	bottom: 0
	left: 0
	overflow: hidden 
	z-index: -9 
	video
		position: absolute
		top: 0
		left: 0
		min-width: 100% 
		min-height: 100%
		width: auto
		height: auto   
i[class^="icon-"]
	display: inline-block
i.icon-phone
	+s(icon-phone)
i.icon-user
	+s(icon-user)
i.icon-drop
	+s(drop_arr)
i.icon-setup
	// background: url(../img/icons/icon-setup.svg) no-repeat
	// +background-size(contain)
	// width: 83px
	// height: 83px  
	+s(icon-setup)
i.icon-virus
	// background: url(../img/icons/icon-virus.svg) no-repeat
	// +background-size(contain)
	// width: 83px
	// height: 83px 
	+s(icon-virus)
i.icon-comp
	// background: url(../img/icons/icon-comp.svg) no-repeat
	// +background-size(contain)
	// width: 83px
	// height: 83px
	+s(icon-comp)
i.icon-tuneup
	// background: url(../img/icons/icon-tuneup.svg) no-repeat
	// +background-size(contain)
	// width: 83px
	// height: 83px 
	+s(icon-tuneup)

i.icon-protect
	// background: url(../img/icons/icon-protect.svg) no-repeat
	// +background-size(contain)
	// width: 83px
	// height: 83px 
	+s(icon-protect)

i.icon-email
	// background: url(../img/icons/icon-email.svg) no-repeat
	// +background-size(contain)
	// width: 83px
	// height: 83px 
	+s(icon-email)
i.icon-show
	+s(icon-show)
i.icon-close
	+s(icon-close)
i.icon-teamviewer
	+s(icon-teamviewer)
i.icon-back
	+s(icon-back)
// common blocks  
.table
	display: table
.row
	display: table-row
.tc
	display: table-cell
	
.header
	width: 100% 
	a
		color: #FFF 
	.header__in
		width: 95%
		margin: 0 auto  
		+clr
.header__nav
	float: left
	ul
		+clr
		margin-left: 28px 
	li
		float: left
		a
			display: block
			padding: 40px 16px 0
			font-size: 20px 
			+os-l
			opacity: .5
			position: relative
			transition: .2s
			&:after
				content: ''
				display: none
				position: absolute 
				top: 1px
				left: 50%
				+translate(-50%,0) 
				width: 80%
				border-bottom: 3px solid #fff 
			&:hover
				opacity: 1 
				&:after
					display: block			
		
.header__contact
	float: right
	width: 30% 
	+clr
	text-align: right
	p
		display: inline-block
		padding: 40px 0 0 15%
		text-align: right
		&:first-child
			padding-left: 0 
		a
			font-size: 22px 
			opacity: .5
			+os-l
			&:hover
				opacity: 1
				transition: .2s 

	p i
		position: relative
		left: -14px 
		
.header__logo
	float: left
	margin-top: 30px 
.logo
	+s(logo)

.block_header
	+os-l
	font-size: 52px 
	text-align: center
	letter-spacing: 1px  
.block_header--white
	color: #FFF 
.main
	width: 84% 
	max-width: 1200px 
	background-color: #FFF 
	margin: 0 auto 
	+border-radius(5px)
	.block_header
		color: #000 

.footer
	max-width: 645px 
	margin: 0 auto 
	margin-top: 700px 
.footer__contacts
	width: inherit 
	+clr
	a
		color: #FFF
		+os-l
		font-size: 32px
		letter-spacing: 1px  
	.is-left
		float: left
	.is-right
		float: right
.footer__social
	color: #FFF 
	width: inherit 
	font-size: 0
	+border-radius(3px)
	margin-top: 30px 
	overflow: hidden 
	li
		display: inline-block
		width: 20%
		+box-sizing(border-box)
		a
			width: 99% 
			display: block
			padding: 15px 0 15px 18% 
			background-color: rgba(#FFF, .1) 
			color: #FFF 
			+box-sizing(border-box)
			+transition(.2s)
			&:hover
				background-color: rgba(#c7f8ff, .3) 
		&:last-child
			margin-right: 0
	.fa
		font-size: 26px 
		vertical-align: bottom
		padding-right: 16% 
	span
		font-size: 19px 
		opacity: .6
		+os-l
.footer__link
	// text-align: center
	margin-top: 50px
	padding-bottom: 45px 
	ul
		text-align: center
	li
		display: inline-block
		text-align: center
		a
			color: #FFF
			padding: 0 20px
			display: block
			letter-spacing: 1px  
			+os-l
			font-size: 16px 
			opacity: .7
			transition: .1s
			white-space: nowrap 
			&:hover
				opacity: 1
			i
				vertical-align: bottom
				padding-right: 3% 