@import url("http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,300,600,700")
//mixin
=os
	font-family: 'Open Sans', Arial, sans-serif
=os-l
	font-family: 'Open Sans', Arial, sans-serif
	font-weight: 300 
body
	font-family: Arial, sans-serif 
	font-size: 12px 
	line-height: 1.4
	background-color: #03283D 
	
a
	text-decoration: none
input[type="button"], input[type="submit"]
	cursor: pointer
// common blocks  
.header
	width: 100% 
	+clr
	a
		color: #FFF 
	.header__in
		width: 90%
		margin: 0 auto  
.header__nav
	float: left
	ul
		+clr
		margin-left: 28px 
	li
		float: left
		a
			display: block
			padding: 40px 18% 0
			font-size: 20px 
			+os-l
			opacity: .5
			position: relative
			transition: .2s
			&:hover
				opacity: 1 
				&:after
					content: ''
					display: block
					position: absolute 
					top: 1px
					left: 50%
					+translate(-50%,0) 
					width: 80%
					border-bottom: 3px solid #fff 
			
		
.header__contact
	float: right
	p
		float: left
.header__logo
	float: left
	margin-top: 30px 
.logo
	+s(logo)













































































































