@import url("http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,300,600,700")
@import url("http://fonts.googleapis.com/css?family=PT+Sans:400,700")
@import url("http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css")
//mixin
=os
	font-family: 'Open Sans', Arial, sans-serif
=os-l
	font-family: 'Open Sans', Arial, sans-serif
	font-weight: 300
=os-sb
	font-family: 'Open Sans', Arial, sans-serif
	font-weight: 600 
=os-b
	font-family: 'Open Sans', Arial, sans-serif
	font-weight: 700 
=ps
	font-family: 'PT Sans', Arial, sans-serif
=ps-b
	font-family: 'PT Sans', Arial, sans-serif
	font-weight: 700 
	
=header_br
	+r(1255)
		@content
=tablet
	+r(1024)
		@content
body
	font-family: Arial, sans-serif 
	font-size: 12px 
	line-height: 1.4
	background-color: #03283D
	+header_br
		overflow-x: hidden
	&.no-scroll
		overflow: hidden	 
	
a
	text-decoration: none
input[type="button"], input[type="submit"]
	cursor: pointer
.is-overlay
	display: block
	width: 100%
	height: 100%
.clr
	+clr	  
#bg_video
	position: fixed
	top: 0
	right: 0
	bottom: 0
	left: 0
	overflow: hidden 
	z-index: -9 
	video
		position: absolute
		top: 0
		left: 0
		min-width: 100% 
		min-height: 100%
		width: auto
		height: auto   
i[class^="icon-"]
	display: inline-block
	img
		width: 100%
		height: 100%  
i.icon-phone
	+s(icon-phone)
i.icon-user 
	+s(icon-user)
i.icon-drop
	+s(drop_arr)
i.icon-setup
	// background: url(../img/icons/icon-setup.svg) no-repeat
	// +background-size(contain)
	width: 62px
	height: 62px  
	//+s(icon-setup)
i.icon-virus
	//background: url(../img/icons/icon-virus.svg) no-repeat
	//+background-size(contain)
	width: 74px
	height: 73px 
	//+s(icon-virus)
i.icon-comp
	// background: url(../img/icons/icon-comp.svg) no-repeat
	// +background-size(contain)
	width: 76px
	height: 58px
	//+s(icon-comp)
i.icon-tuneup
	// background: url(../img/icons/icon-tuneup.svg) no-repeat
	// +background-size(contain)
	width: 63px
	height: 57px 
	//+s(icon-tuneup)

i.icon-protect
	// background: url(../img/icons/icon-protect.svg) no-repeat
	// +background-size(contain)
	width: 54px
	height: 62px 
	//+s(icon-protect)

i.icon-email
	// background: url(../img/icons/icon-email.svg) no-repeat
	// +background-size(contain)
	width: 69px
	height: 64px 
	//+s(icon-email)
i.icon-show
	width: 22px
	height: 20px 
	//+s(icon-show)
i.icon-close
	+s(icon-close)
i.icon-teamviewer
	+s(icon-teamviewer)
	background: url(../img/iconfooter.png) no-repeat 0 0
	-webkit-background-size: contain 
	-o-background-size: contain 
	background-size: contain  
i.icon-back
	+s(icon-back)
// common blocks  
.table
	display: table
.row
	display: table-row
.tc
	display: table-cell
.is-menu
	overflow-x: hidden
	overflow-y: auto
.header
	position: fixed
	top: 0
	left: 0 
	width: 100% 
	z-index: 990
	padding-top: 18px
	padding-bottom: 16px 
	+transition(all .3s)
	.is-menu & 
		+transform(translateX(220px))
	&.is-atbottom
		background: rgba(#073141,.7) 
		padding-top: 0
		.header__contact
			li
				padding: 20px 0 0 0
				+r(660)
					padding: 25px 0 0 0 
	a
		color: #FFF 
	.header__in
		padding: 0 30px
		+box    
		+clr
		+r(767)
			padding: 0 10px 
	.humb
		width: 30px 
		display: none
		margin-top: 27px
		cursor: pointer
		float: left
		margin-right: 20px
		+tr(transform 300ms)  
		>div
			width: 100%
			height: 2px
			background-color: #FFF
			&:nth-child(2)
				margin: 7px 0
		+header_br
			display: block
		+r(660)
			margin-top: 25px
			margin-right: 10px
		&.is-open
			+rotate(90)		
	   
		
.header__nav
	float: left
	ul.nav__link 
		+clr
		width: 100% 
		margin-left: 28px 
		li
			float: left
			margin-right: 15px
			+r(1366)
				margin-right: 10px
			a
				display: block
				padding: 22px 10px 0 10px 
				font-size: 20px 
				+os-l
				opacity: .5
				position: relative
				transition: .2s
				&:after
					content: ''
					display: none
					position: absolute 
					top: -18px
					left: 50%
					+translate(-50%,0) 
					width: 103%
					border-bottom: 2px solid #fff
					+tr(top 200ms)
				.is-atbottom &
					&:after
						top: 0	 
				&:hover
					opacity: 1
				&.is-active		
					opacity: 1 
					&:after
						display: block
	+header_br
		display: none 
	.nav__social
		display: none
.mob-nav
	position: fixed
	top: 0
	left: 0
	height: 100vh
	width: 220px
	background: #061827
	overflow-y: auto
	+transform(translateX(-220px))
	+tr(transform 300ms)
	&.is-open
		+transform(translateX(0))
	.mob-nav__in
		position: relative
		min-height: 100%	
	.mob-nav__link
		padding-bottom: 70px
		li
			a
				display: block
				padding: 22px 10px 22px 20px 
				font-size: 20px 
				+os-l
				opacity: .5
				position: relative
				color: #fff
				transition: .2s
				&:after
					content: ''
					display: none
					position: absolute 
					top: 0
					left: 0
					bottom: 0 
					width: 2px
					background: #fff 
					+tr(top 200ms)
				.is-atbottom &
					&:after
						top: 0	 
				&:hover
					opacity: 1
					background: #06202f 
				&.is-active
					opacity: 1
					background: #06202f 
					&:after
						display: block					
	.mob-nav__socials
		position: absolute
		bottom: 22px
		right: 0
		left: 0
		text-align: center
		li
			display: inline-block
			vertical-align: middle
			margin: 0 10px 
			a
				color: rgba(#fff, 0.2)
				font-size: 16px
				+tr(color 200ms)
				&:hover
					color: #fff
			
.header__contact
	float: right 
	text-align: right
	white-space: nowrap
	li
		padding: 22px 0 0 0 
		display: inline-block
		vertical-align: top
		margin-right: 40px 
		+tr(padding 300ms)
		&:first-child
			padding-left: 0 
		a
			font-size: 22px 
			opacity: .5
			+os-l
			white-space: nowrap
			&:hover
				opacity: 1
				transition: .2s 		
		i
			margin-right: 14px 
			position: relative
			top: 2px
		+r(660)
			padding: 26px 0 0 0
			i
				padding-right: 0	
	.profile
		position: relative
		margin-right: 0
		+r(660)
			a
				font-size: 0
	.call
		.icon-phone
			+animation(call 4s linear infinite)
		+r(660)
			margin-right: 5px
			i
				display: none
			a
				font-size: 16px
+keyframes(call)
	0%
		+rotate(0)
	8%
		+rotate(-13)
	16%
		+rotate(0)
	24%
		+rotate(-13)
	32%
		+rotate(0)
	40%
		+rotate(-13)
	50%
		+rotate(0)								
.tooltip
	position: absolute
	top: 75px
	right: 0
	width: 340px
	background: #fff
	border-radius: 3px
	text-align: left
	z-index: 99
	&:before
		content: ""
		position: absolute
		top: -8px
		right: 25px
		+arr(25, 8, #fff, t)
	+r(480)
		width: 290px
		right: 10px 	 
	.tooltip__in
		padding: 0 17px
	.tooltip__exit
		display: block
		border-radius: 0 0 3px 3px
		background: #e7edf0
		height: 52px
		line-height: 52px
		text-align: center
		font-size: 18px
		color: #a8b9c1
		opacity: 1 
		+transition(background 200ms, color 200ms)
		&:hover
			background: #b7ced4
			color: #6d7f87 	
.nickname
	margin-bottom: 17px
	padding: 17px 0
	border-bottom: 1px solid #e8edf0
	.nickname__name
		color: #a8b9c1
		font-size: 14px
	.nickname__value
		float: left
		+os-l
		font-size: 22px
		color: #000
	.edit, .btn
		float: right
	.nickname__form
		.input
			vertical-align: middle
			width: 193px
			margin-right: 5px
			padding: 0 12px
			+r(568)
				height: 41px
				width: 154px 
		.button
			vertical-align: middle
			font-size: 20px
			width: 81px
			margin-right: 3px
	.nickname__close
		display: inline-block
		vertical-align: middle
		+s(close-big)
		opacity: 0.5
		+tr(opacity 200ms)
		&:hover
			opacity: 1 		  
.edit
	padding: 0 17px
	height: 25px
	margin-top: 6px
	font-size: 16px
	color: #738b93
	background: #e7eef1
	border-radius: 3px
	text-align: center
	cursor: pointer
	+transition(background 200ms, color 200ms)
	&:hover
		background: #a6c2ca
		color: #3e4e53
.btn
	padding: 0 17px
	height: 25px
	margin-top: 6px
	border-radius: 3px
	background: #f7b30e
	color: #fff
	font-size: 16px
	+tr(background 200ms)
	&:hover
		background: #ffca4a 		
.status
	margin-bottom: 17px
	.status__title
		color: #a8b9c1
		font-size: 14px
	.status__name
		float: left
		+os-l
		font-size: 22px
		color: #000
	.btn, .edit
		float: right
.header__logo
	float: left 
	margin-top: 12px
	+r(660)
		margin-top: 20px  
.logo
	cursor: pointer
	+s(logo)
	+retina
		background: url(../img/logo2.png) no-repeat
		-webkit-background-size: contain 
		-o-background-size: contain 
		background-size: contain  
	+r(660)
		// +s(logo-small)
		width: 109px 
		background: url(../img/logo2.png) no-repeat
		-webkit-background-size: contain 
		-o-background-size: contain 
		background-size: contain  
.logo--big
	+s(logo--big)

.block_header
	+os-l
	font-size: 52px 
	text-align: center
	letter-spacing: 1px
	+r(767)
		font-size: 40px 
.block_header--white
	color: #FFF 
.main
	width: 85% 
	max-width: 1200px 
	background-color: #FFF 
	margin: 0 auto 
	+border-radius(5px)
	.block_header
		color: #000 
	+tablet
		width: 90% 
	+r(600)
		width: auto
		border-radius: 0

.footer
	max-width: 645px 
	margin: 0 auto 
	margin-top: 700px 
.footer__contacts
	width: inherit 
	+clr
	a
		color: rgba(#fbf6e2, 0.7)
		+os-l
		font-size: 32px
		letter-spacing: 1px
		+tr(color 200ms)
		&:hover
			color: #fbf6e2	  
		&.is-left
			float: left
		&.is-right
			float: right
	+r(568)
		text-align: center
		a
			&.is-right, &.is-left
				display: block
				float: none
				margin-bottom: 10px		
.footer__social
	color: #FFF 
	width: inherit 
	font-size: 0
	+border-radius(3px)
	margin-top: 30px 
	overflow: hidden
	+r(568)
		width: 90%
		margin: 0 auto   
	li
		display: inline-block
		width: 20%
		+box
		+r(568)
			text-align: center
		&:first-child
			a
				border-radius: 4px 0 0 4px
		&:last-child
			a
				border-radius: 0 4px 4px 0	
		a
 
			display: block
			padding: 15px 0 15px 18% 
			background: rgba(#FFF, .1)
			margin-left: 1px
			color: #FFF 
			+box
			+tr(background .2s)
			&:hover
				background: rgba(#c7f8ff, .3) 
		&:first-child
			margin-left: 0
	.fa
		font-size: 26px 
		vertical-align: bottom
		padding-right: 16% 
	span
		font-size: 19px 
		opacity: .6
		+os-l
		display: inline-block
		width: 44px  
		text-align: center
		+r(568)
			display: none
.footer__link
	margin-top: 50px
	padding-bottom: 45px 
	ul
		text-align: center
	li
		display: inline-block
		text-align: center
		margin: 0 20px
		&:last-child
			cursor: default
			opacity: 1 
			a
				color: #748c90
				opacity: 1 
				cursor: default
			+r(568)
				display: block	
		+r(568)
			margin: 0 10px 20px
			&:last-child
				margin: 0  		
		span
			display: inline-block
			vertical-align: middle
			font-size: 16px
			margin-right: 4px 
			color: #748c90
			opacity: 0.7 
		a
			color: #FFF
			display: inline-block
			vertical-align: middle 
			letter-spacing: 1px  
			+os-l
			font-size: 16px 
			opacity: .7
			transition: .1s
			white-space: nowrap 
			+gpu
			&:hover
				opacity: 1
			+r(568)
				font-size: 12px	
			i
				vertical-align: bottom
				padding-right: 3%
				+r(568)
					vertical-align: middle		 
				

.out
	position: relative
	+tr(transform .3s)
	z-index: 2
.is-menu .out
	+translate(220px,0)