// eula.html
.out__eula
	.main
		margin-top: 82px 
		position: relative
		// max-width: 1180px 
.eula
	.block_header
		padding: 88px 0 65px
.eula__content
	// width: percentage(1020px / 1200px)
	
	margin: 0 auto 
	padding-bottom: 123px 
.eula__main_header
	+os-sb
	font-size: 22px
	text-align: center
	padding-bottom: 32px
.eula__paragraph
	padding: 0 7.5%
	+os-l
	font-size: 18px 
	padding-bottom: 30px
	line-height: 1.7em 
.eula__header
	padding: 0 7.5%
	+os-sb
	font-size: 20px
.eula__img
	position: relative
	width: 102% 
	height: auto
	left: -1%
	margin-bottom: 30px
	+clr
	strong
		display: block
		+png(keyboard) 
		+background-size(contain)
		width: 100% 
	

