// Normally mainpage styles
.greet
	padding: 215px 0 320px
	.greet__in
		text-align: center
.greet__text
	color: #FFF 
	h1
		+os-l
		font-size: 48px 
	p
		+os-l
		font-size: 20px
		padding-top: 10px 
		opacity: .7 
.greet__form
	font-size: 0 
	padding-top: 40px  
	
	.greet__form_item, .dropdown input
		display: inline-block
		vertical-align: top
		font-size: 24px 
		padding: 0px 15px  
		margin: 0 3px 
		height: 55px 
		+os-l
		+border-radius(3px)  
		background-color: #fff 
		opacity: .3
		margin: 0 3px 
		color: #001D34 
		text-align: left
		+placeholder-color(rgba(#001d34, .3))
		&:hover
			opacity: .6
		&:focus, &.filled
			opacity: 1

	.js-drop
		+box-sizing(border-box)

.dropdown
	max-width: 370px 
	width: 26% 
	border: 0px
	outline: none
	+appearance(none)
	appearance: none
	cursor: pointer
	background: url('../img/icons/drop_arr.png') no-repeat  95% 53%  
	option
		background-color: #FFF 
		opacity: .6
		&:hover
			opacity: .8

		


.greet__form_email
	+box-sizing(border-box)
	max-width: 315px
	width: 22%  
	padding: 20px 15px 
.greet__form_name
	+box-sizing(border-box)
	max-width: 235px 
	width: 16% 
	padding: 20px 15px 
.greet__submit 
	+box-sizing(border-box)
	max-width: 115px 
	width: 8% 
	padding: 0px 15px 
	height: 55px 
	margin: 0 3px
	opacity: 1 
	background-color: #F7B30E
	color: #fff
	+border-radius(3px)  
	+os-l
	font-size: 24px 
.dropdown__menu
	display: none

//----- about		

.about
	width: 100%
	padding-bottom: 155px 
	.block_header
		padding: 88px 0 66px
.about__content
	margin-left: 9%
	position: relative
	+clr
.about__text
	p
		padding-bottom: 40px
		+os-l
		font-size: 19px
		width: 47%
		line-height: 1.57em  
		position: relative
		z-index: 2 
		&:last-child
			padding-bottom: 0
	&:before
		content: ''
		position: absolute
		right: 0
		+png(comps)
		max-width: 52%
		+background-size(contain)
		z-index: 1 
		
//----- serivces
.services
	background-color: #faf1dc 
	.block_header
		padding-top: 99px 
.services__content
	margin: 0 auto
	padding: 63px 0 133px
	width: 75% 
	+clr

.services__item
	+box-sizing(border-box)
	padding: 5% 5% 5% 7%
	width: 50% 
	// height: 255px 
	// float: left
	vertical-align: top
	cursor: pointer
	// display: table-cell
	&:hover
		+box-shadow(0 0 0 1px rgba(black, .6) inset)
		opacity: .7 
		+transition(.1s)
	.services__item_header
		+os-l
		font-size: 28px
		vertical-align: top 
		display: block
		+clr
		i
			float: left
			padding-right: 8% 
		span
			display: inline-block
			line-height: 1.2em 
	.services__item_text
		+os
		font-size: 16px 
		margin-top: 15px 
		

//----- price
.pricing
	padding-bottom: 100px 
	.block_header
		padding: 127px 0 100px 
.pricing__content
	width: 86%
	margin: 0 auto 
	position: relative
	+clr
	.table
		width: 30% 
		+border-radius(3px)
		padding-bottom: 46px 
	.table.is-left
		float: left
	.table.is-right
		float: right
	.table.is-center
		position: absolute
		left: 50%
		+translate(-50%,0) 
	.table__header
		text-align: center
		.table__header_text
			+os-l
			font-size: 35px 
			padding: 24px 0 
		.table__header_number
			width: 103%  
			+translate(-1.5%,0) 
			padding: 24px 0
		.table__price
			+os-l
			font-size: 80px
			sup
				font-size: 0.4em
				vertical-align: top
				display: inline-block
				margin-top: 0.5em 
				opacity: .7 
		.table__price_about
			+os-l
			font-size: 24px 
			b
				+os-sb
	.table__content
		.table__features
			+os-l
			font-size: 16px
			margin: 38px 0 31px percentage(41px / 308px) 
			li
				line-height: 2em   
			li:before
				content: ''
				display: inline-block
				width: 5px
				height: 5px
				margin-right: 7px 
				vertical-align: middle
				background-color: #b3b3b3 
				+border-radius(50%) 
	.table__btn
		display: block
		width: percentage(230px / 308px)
		height: 65px 
		margin: 0 auto  
		+os
		font-size: 26px  
		+border-radius(3px)
		
.table--gray
	+box-shadow(0 0 0 1px #e5e5e5 inset)
	margin-top: 24px 
	.table__header_number
		background-color: #f7f7f7
	.table__btn
		background-color: transparent
		color: #5A5A5A 
		+box-shadow(0 0 0 1px #b2b2b2 inset)
		&:hover
			+box-shadow(0 0 0 2px #000 inset)
			color: #000 
.table--orange
	+box-shadow(0 0 0 1px #f3af0a inset)
	.table__header_number
		background-color: #f9eac5
		+border-radius(2px) 
	.table__btn
		background-color: #f7b30e
		color: #FFF 
		&:hover
			opacity: .7

.pricing__footer
	padding-top: 30px 
	.pricing__footer_text
		+os
		font-size: 26px 
		vertical-align: middle
		p
			display: inline-block
			position: relative
			top: 25px 
			max-width: 45% 
			b
				+os-sb
		&:before
			content: ''
			display: inline-block
			vertical-align: middle
			margin-right: percentage(50px / 1200px)  
			+png(hand)
			max-width: 50%
			+background-size(contain) 

//----- news
.news
	background-color: #e9f2f4 
	padding-bottom:  80px
	.block_header
		padding: 62px 0 70px 
	.news__in
		+clr
.show_more
	text-align: center
	button
		color: #096272 
		background: transparent
		opacity: .7
		+os-l
		font-size: 20px 
		i
			position: relative
			top: 5px 
			padding-right: 13px 
		&:hover
			opacity: 1
.news__container
	width: 85%
	margin: 0 auto
	.news__container_wrap
		margin: 0 -7% 0 -4% 
		+clr 
		padding-bottom: 85px 
.post
	width: 33%
	height: 210px 
	float: left
	+box-sizing(border-box)
	padding: 0 3% 
	> a
		display: block
		color: #000 
		&:hover
			color: #6DA4B3 
	.post__heading
		margin-bottom: 10px 
		.post__heading_text 
			+os-l
			font-size: 28px 
			margin-bottom: 5px 
		time
			+os-l
			font-size: 15px 
	.post__main
		+os
		font-size: 16px 
		opacity: .7

//----- advantages
.advantages
	.advantages__in
		position: relative
		padding-bottom: 280px 
		&:after
			content: ''
			display: block
			+png(man)
			position: absolute 
			bottom: -29px 
			left: 55%
			+translate(-50%,0) 
	.block_header
		padding: 85px 0 95px
	.advantages__item
		width: 50%
		float: left
		+box-sizing(border-box)
		padding-right: 6%  
		padding-bottom: 60px 
		&:nth-of-type(2n)
			padding-left: 6%  
			padding-right: 0
	.advantages__item_header
		padding-bottom: 10px 
		h5
			+os-l
			font-size: 26px 
	.advantages__item_text
		+os
		font-size: 14px 
		opacity: .7
		line-height: 1.5em 
.advantages__content
	width: 75% 
	margin: 0 auto
	+clr

//----- work
.work
	background: url('../img/map.png') no-repeat center 45px
	overflow: hidden 
	.block_header
		padding: 118px 0 0
		margin-left: -3% 
	.footer
		margin-top: 708px 
.work__content
	position: relative
.location
	position: absolute
	max-width: 420px 
	height: auto
	display: block
	+clr
	.location__dot
		position: absolute
		bottom: -20px
		left: 50%
		+translate(-50%,0) 
		width: 8px  
		height: 8px
		+border-radius(50%)
		+box-shadow(0 0 0 5px rgba(#FFF, .2))
		// border: 5px solid rgba(#FFF, .1)
		cursor: pointer
		background-color: rgba(#FFF, .9)
		// opacity: .3
		&:hover
			width: 10px  
			height: 10px
			// background-color: rgba(#FFF, 1)
			// padding: 1px
			// bottom: -22px 
			// opacity: 1 
			// border-size: 10px

.location--1
	top: 50px 
	left: 67px
.location--2
	top: 100px
	left: -22px
.location--3
	top: 137px
	left: 104px
.location--4
	position: absolute
	top: 126px
	left: 170px
.location--5
	position: absolute
	top: 367px
	left: 270px
.location--6
	position: absolute
	top: 100px
	left: 460px
.location--7
	position: absolute
	top: 25px
	left: 638px
.location--8
	position: absolute
	top: 226px
	left: 639px
.location--9
	position: absolute
	top: 238px
	left: 751px
.location--10
	position: absolute
	top: 187px
	left: 842px
.location--11
	position: absolute
	top: 163px
	right: -2px
.location--12
	position: absolute
	top: 441px
	right: -15px 

.location__tooltip
	// display: none
	// opacity: 1 
	visibility: hidden 
	position: relative
	max-width: inherit
	top: -5px 
						
	&.is-active
		visibility: visible 
	&:after
		content: ''
		display: block
		+arr(10, 5, rgba(#B7CADB, .45), b)
		position: absolute
		bottom: -5px 
		left: 50%
		+translate(-50%,0) 
	.icon-close
		position: absolute
		top: 7px
		right: 7px
		opacity: .5
		cursor: pointer
		&:hover 
			opacity: 1 
.comment
	max-width: 420px
	max-width: inherit
	background-color: rgba(#B7CADB, .45)
	+border-radius(3px)
	+box-sizing(border-box)
	padding: 4% 4.5% 5.3%
	color: #FFF 
	.author__data
		font-size: 22px 
	.author__name
		+ps-b
	.author__address
		display: inline
		+os-l
		font-style: normal
		font-size: 20px  
	.comment__text
		+ps
		font-size: 13px 
		padding-top: 5px
		letter-spacing: 0.01em  
	.author__photo
		display: table-cell
		padding: 6px 0 0 
		img
			width: 77px
			height: 77px
			+border-radius(77px)
			overflow: hidden  
	.comment__info
		display: table-cell
		vertical-align: top
		padding-left: 5%
		

