// styles for popups
.overlay
    position: fixed
    top: 0
    bottom: 0
    right: 0
    left: 0
    +vertical
    background: rgba(#001a1e, 0.9)
    z-index: 999
.popup
    position: relative
    display: inline-block 
    vertical-align: middle
    max-width: 900px
    width: 90%
    +os
    padding: 70px 10px 57px
    background: #fff
    border-radius: 5px
    .popup__close
        position: absolute
        top: 10px
        right: 10px
        +s(close)
        opacity: 0.3
        +tr(opacity 200ms)
        cursor: pointer
        &:hover
            opacity: 1
    .popup__header
        margin-bottom: 10px    
        text-align: center
        &.popup__header_spaced
            margin-bottom: 44px 
    .popup__title
        display: inline-block
        vertical-align: middle
        font-size: 36px
        font-weight: 300
        +os-l
        text-transform: uppercase
        color: #425365
    .popup__call
        display: inline-block
        vertical-align: middle
        margin-left: 22px
        p
            font-size: 14px
            color: #bfc6cd
        a
            font-size: 16px
            color: #001d34
    .popup__text
        +os-l
        font-size: 20px
        color: #7d838a          
    .popup__footer
        padding-top: 40px
        text-align: center
        font-size: 16px
        color: #425365
        a
            +os-b
            color: #425365
            +tr(color 200ms)
            &:hover
                color: #94adb6                              
.form
    position: relative
    text-align: center
    &.invalid
        .form__alert
            opacity: 1
    .form__alert
        opacity: 0
        margin-bottom: 15px
        +os-l
        font-size: 18px
        color: #e35845 
    .form__col
        width: 330px
        display: inline-block
        vertical-align: top
        margin-left: 17px
        &.form__col-long
            width: 440px
        &:first-child
            margin-left: 0
    .form__row
        +clr
        margin-bottom: 12px
    .form__note
        font-size: 12px 
        color: #7D838A 
        a
            font-weight: bold
            text-decoration: none
            color: #95ADB5
    .form__submit
        padding-top: 20px
        text-align: center
        margin-bottom: 12px          
.input
    width: 100%
    height: 52px
    padding: 0 22px 
    border-radius: 3px
    border: 1px solid transparent
    background: rgba(206,218,220,.3)
    font-size: 18px
    color: #000
    +os
    +box
    +placeholder
        color: #6f8487
        +os-l
    &:hover
        background: rgba(206,218,220,.7)
    &:focus
        border: 1px solid #d1dbdd
        background: #fff
        +placeholder
            font-size: 0
    &.error
        border: 1px solid #ffeeec
        background: #ffeeec          
.checkbox
    position: relative
    &:hover
        input + i
            border: 1px solid #dde5e6
            background: #dde5e6
        span
            color: #24687b     
    &.checkbox_left
        float: left
    input
        position: absolute
        opacity: 0
    input + i
        position: relative
        display: inline-block
        vertical-align: middle
        width: 18px
        height: 18px
        margin-right: 10px
        +box
        background: #f0f4f4 
        border: 1px solid #f0f4f4
        border-radius: 3px
    input:checked + i
        background: #fff
        border: 1px solid #d1dcde
        &:before
            content: ""    
            position: absolute
            top: -2px
            left: 2px
            +s(checkbox)       
    span
        display: inline-block
        vertical-align: middle
        font-size: 15px
        color: #9ba6b0 
        +nosel
        cursor: pointer
.forgot
    float: right
    font-size: 15px
    color: #9ba6b0
    +tr(color 200ms)
    &:hover
        color: #24687b          
.button
    width: 100%
    height: 52px
    border-radius: 3px
    background: #f7b30e
    +tr(background 200ms)
    font-size: 28px
    +os-l
    color: #fff
    &:hover
        background: #ffca4a     
    &.button_big
        width: auto
        max-width: 100%
        padding: 0 48px 
.password
    position: relative
    .password__switch
        opacity: 0 
        position: absolute
        top: 50%
        right: 15px
        +transform(translateY(-50%))
        +tr(opacity 200ms)
        cursor: pointer
        &:before
            content: ""
            position: absolute
            top: -13px
            left: -28px
            +s(eye-closed)
            opacity: 0.7
            +tr(opacity 200ms)
        &:after
            content: ""
            visibility: hidden
            position: absolute
            top: -8px
            left: -28px
            +s(eye)
            opacity: 0.7
            +tr(opacity 200ms)   
        &:hover
            &:before, &:after
                opacity: 1
        &.is-visible
            opacity: 1
        &.is-open
            &:before
                visibility: hidden
            &:after
                visibility: visible
.radio
    position: relative
    display: block
    margin-top: 12px
    &:first-child
        margin-top: 0  
    input[type="radio"]
        position: absolute
        opacity: 0
    input[type="radio"]:checked + .tarrif
        border-color: #f3af0a
        &:after
            display: block

.tarrif
    position: relative
    +clr
    +box
    height: 52px
    border-radius: 3px
    border: 1px solid #e5e5e5
    +tr(border-color 200ms)
    text-align: left
    &:after
        content: ""
        display: none
        position: absolute
        top: 20px
        right: 15px
        +s(radio)
    &:hover
        border-color: #999                            
    .tarrif__name
        float: left
        width: 133px
        +box
        +os-l
        padding-left: 22px
        line-height: 50px
        font-size: 22px
    .tarrif__details
        overflow: hidden
        line-height: 50px
        font-size: 14px
        color: #bec7c7       