// styles for popups
.overlay
    visibility: hidden
    position: fixed
    top: 0
    bottom: 0
    right: 0
    left: 0
    padding: 50px 0 
    overflow-y: auto
    +vertical
    background: rgba(#001a1e, 0.9)
    opacity: 0
    +tr(opacity 300ms) 
    z-index: 999
    &.is-open
        visibility: visible
        opacity: 1 
        .popup
            +scale(1)
            opacity: 1
.popup
    position: relative
    display: inline-block 
    vertical-align: middle
    max-width: 900px
    width: 90%
    +os
    +box
    padding: 70px 50px 57px
    background: #fff
    border-radius: 5px
    +scale(0.7)
    opacity: 0 
    +tr(all 300ms)
    &.popup_small
        max-width: 700px
    +r(568)
        padding: 48px 32px
    .popup__in
        +r(568)
            padding-bottom: 80px
    &.no-phone
        .popup__in
            +r(568)
                padding-bottom: 0         
    .popup__close
        position: absolute
        top: 10px
        right: 10px
        +s(close)
        opacity: 0.3
        +tr(opacity 200ms)
        cursor: pointer
        &:hover
            opacity: 1
    .popup__prev, .popup__next
        position: absolute
        top: 50%
        margin-top: -23px
        opacity: 0.7 
        +tr(opacity 200ms)
        cursor: pointer
        &:hover
            opacity: 1
    .popup__prev
        left: -45px
        +s(popup-prev)
        +r(900)
            left: -33px
        +r(767)
            display: none
    .popup__next
        right: -45px
        +s(popup-next)
        +r(900)
            right: -33px
        +r(767)
            display: none                
    .popup__header
        margin-bottom: 10px    
        text-align: center
        &.popup__header_spaced
            margin-bottom: 44px 
    .popup__title
        display: inline-block
        vertical-align: middle
        font-size: 36px
        font-weight: 300
        +os-l
        text-transform: uppercase
        color: #425365
        +r(767)
            font-size: 30px
    .popup__call
        display: inline-block
        vertical-align: middle
        margin-left: 22px
        p
            font-size: 14px
            color: #bfc6cd
        a
            font-size: 16px
            color: #001d34
        +r(568)
            position: absolute
            bottom: 40px
            left: 0
            right: 0
            margin-left: 0    
    .popup__text
        padding-top: 11px
        +os-l
        font-size: 20px
        color: #7d838a          
    .popup__footer
        padding-top: 53px
        text-align: center
        font-size: 16px
        color: #425365
        a
            +os-b
            color: #425365
            +tr(color 200ms)
            &:hover
                color: #94adb6
        +r(768)
            padding-top: 30px
.form
    position: relative
    text-align: center
    padding-top: 40px
    &.invalid
        padding-top: 0
        .form__alert
            display: block
    .form__alert
        display: none
        margin-bottom: 15px
        +os-l
        font-size: 18px
        color: #e35845 
    .form__col
        width: 330px
        display: inline-block
        vertical-align: top
        margin-left: 17px
        &.form__col-long
            width: 440px
            +r(568)
                width: 100%       
        &:first-child
            margin-left: 0
        +r(900)
            display: block
            margin: 0 auto
            &:first-child
                margin: 0 auto 12px
        +r(568)
            width: 100%
            #pricing-popup &
                margin: 0 auto 20px
            & + .form__col
                position: relative
                padding-top: 20px
                &:before
                    content: ""
                    position: absolute
                    top: 0
                    left: -32px
                    right: -32px
                    height: 1px
                    background: #f0f4f4        
    .form__row
        +clr
        margin-top: 12px
        &:first-child
            margin-top: 0
        +r(568)
            margin-top: 20px    
    .form__note
        font-size: 13px 
        color: #7D838A 
        a
            font-weight: bold
            text-decoration: none
            color: #95ADB5
        +r(480)
            padding: 0 10px     
    .form__submit
        padding-top: 39px
        text-align: center
        margin-bottom: 12px
        +r(568)
            #pricing-popup &
                padding-top: 19px          
.input
    width: 100%
    height: 52px
    padding: 0 22px 
    border-radius: 3px
    border: 1px solid transparent
    background: rgba(206,218,220,.3)
    font-size: 18px
    color: #000
    +os
    +box
    +placeholder
        color: #6f8487
        +os-l
    &:hover
        background: rgba(206,218,220,.7)
    &:focus
        border: 1px solid #d1dbdd
        background: #fff
        +placeholder
            font-size: 0
    &.error
        border: 1px solid #ffeeec
        background: #ffeeec
    +r(568)
        height: 41px
        font-size: 15px             
.checkbox
    position: relative
    &:hover
        input + i
            border: 1px solid #dde5e6
            background: #dde5e6
        span
            color: #24687b     
    &.checkbox_left
        float: left
    input
        position: absolute
        opacity: 0
    input + i
        position: relative
        display: inline-block
        vertical-align: middle
        width: 18px
        height: 18px
        margin-right: 10px
        +box
        background: #f0f4f4 
        border: 1px solid #f0f4f4
        border-radius: 3px
    input:checked + i
        background: #fff
        border: 1px solid #d1dcde
        &:before
            content: ""    
            position: absolute
            top: -2px
            left: 2px
            +s(checkbox)       
    span
        display: inline-block
        vertical-align: middle
        font-size: 15px
        color: #9ba6b0 
        +nosel
        cursor: pointer
        +r(414)
            font-size: 12px
.forgot
    float: right
    font-size: 15px
    color: #9ba6b0
    +tr(color 200ms)
    &:hover
        color: #24687b
    +r(414)
        font-size: 12px
.button
    width: 100%
    height: 52px
    border-radius: 3px
    background: #f7b30e
    +tr(background 200ms)
    font-size: 28px
    +os-l
    color: #fff
    i
        font-style: normal
    &:hover
        background: #ffca4a     
    &.button_big
        width: auto
        max-width: 100%
        padding: 0 48px
    +r(568)
        font-size: 21px
        height: 41px
        i
            display: none
        &.button_big
            width: 100%     
.password
    position: relative
    .password__switch
        opacity: 0 
        position: absolute
        top: 50%
        right: 15px
        +transform(translateY(-50%))
        +tr(opacity 200ms)
        cursor: pointer
        &:before
            content: ""
            position: absolute
            top: -13px
            left: -28px
            +s(eye-closed)
            opacity: 0.7
            +tr(opacity 200ms)
        &:after
            content: ""
            visibility: hidden
            position: absolute
            top: -8px
            left: -28px
            +s(eye)
            opacity: 0.7
            +tr(opacity 200ms)   
        &:hover
            &:before, &:after
                opacity: 1
        &.is-visible
            opacity: 1
        &.is-open
            &:before
                visibility: hidden
            &:after
                visibility: visible
.radio
    position: relative
    display: block
    margin-top: 12px
    &:first-child
        margin-top: 0  
    input[type="radio"]
        position: absolute
        opacity: 0
    input[type="radio"]:checked + .tarrif
        border-color: #f3af0a
        &:after
            display: block
    +r(568)
        margin-top: 20px        

.tarrif
    position: relative
    +clr
    +box
    height: 52px
    border-radius: 3px
    border: 1px solid #e5e5e5
    +tr(border-color 200ms)
    text-align: left
    &:after
        content: ""
        display: none
        position: absolute
        top: 15px
        right: 15px
        +s(radio)
    &:hover
        border-color: #999                            
    .tarrif__name
        float: left
        width: 133px
        +box
        +os-l
        padding-left: 22px
        line-height: 50px
        font-size: 22px
    .tarrif__details
        overflow: hidden
        line-height: 50px
        font-size: 14px
        color: #bec7c7
    +r(767)
        .tarrif__details
            display: none
    +r(568)
        height: 41px
        &:after
            top: 10px
        .tarrif__name
            line-height: 39px               
.congrats
    position: relative
    & > img
        display: inline-block
        margin-bottom: 45px
        +r(568)
            width: 90px           
    .congrats__title
        margin-bottom: 10px
        font-size: 50px
        +os-l
        color: #000
        +r(568)
            font-size: 40px    
    .congrats__in
        font-size: 22px
        +os-l
        color: #425365
        a
            +os-b
            color: #425365
            +tr(opacity)
            &:hover
                opacity: 0.7
        +r(568)
            font-size: 18px        
.service
    text-align: left
    .service__title
        margin-bottom: 45px
        font-size: 0
        +r(568)
            margin-bottom: 18px
        img
            float: left
            margin-right: 27px
            +r(568)
                width: 60px
            +r(480)
                width: 40px     
        span
            font-size: 50px
            line-height: 1
            +os-l
            color: #000
            +r(767)
                font-size: 40px
            +r(568)
                font-size: 30px
            +r(480)
                font-size: 20px        
    .service__in
        margin-bottom: 55px
        font-size: 18px
        color: #425365
        +os-l
        +r(767)
            font-size: 16px
        +r(568)
            font-size: 14px
            margin-bottom: 29px
        +r(480)
            font-size: 12px        
    .service__form                             
        .input
            display: inline-block
            vertical-align: middle
            width: 42.5%
            margin-right: 1%
            +r(568)
                display: block
                width: 100%
                margin-bottom: 20px  
        .button
            vertical-align: middle
            width: 13%
            font-size: 22px
            +r(568)
                width: 100% 
.popup-article
    text-align: left
    .popup-article__title
        font-size: 36px
        +os-l
        color: #000
        margin-bottom: 5px
        +r(767)
            font-size: 32px
        +r(568)
            font-size: 22px    
    .popup-article__date
        font-size: 16px
        color: #8d9fb2
        margin-bottom: 25px                   
    article
        font-size: 18px
        color: #425365
        +os-l
        p
            margin-bottom: 20px
        img
            display: block
            width: 100%
            height: auto
            border-radius: 3px
            margin-bottom: 20px
        +r(767)
            font-size: 16px
        +r(568)
            font-size: 14px
        +r(480)
            font-size: 12px                 